<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CrossServerWarBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{185,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,331}}</string>
                <key>sourceSize</key>
                <string>{185,331}</string>
            </dict>
            <key>u_CrossServerWarBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,385},{369,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,117}}</string>
                <key>sourceSize</key>
                <string>{369,117}</string>
            </dict>
            <key>u_EnergyCorebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,3},{348,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,350}}</string>
                <key>sourceSize</key>
                <string>{348,350}</string>
            </dict>
            <key>u_UpgradeCardsBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,3},{185,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,319}}</string>
                <key>sourceSize</key>
                <string>{185,319}</string>
            </dict>
            <key>u_jhjbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{160,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,378}}</string>
                <key>sourceSize</key>
                <string>{160,378}</string>
            </dict>
            <key>u_trzbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,357},{369,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,145}}</string>
                <key>sourceSize</key>
                <string>{369,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure02_na_888_32_blz.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71986da6dc8ab480faac2fb4c90fd178$</string>
            <key>textureFileName</key>
            <string>Adventure02_na_888_32_blz.png</string>
        </dict>
    </dict>
</plist>
