<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_HakiTrialBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,867},{200,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{200,154}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>u_LookingForPartnerbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,940},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>u_LookingForPartnerbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,854},{142,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,31}}</string>
                <key>sourceSize</key>
                <string>{142,31}</string>
            </dict>
            <key>u_LookingForPartnerbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,894},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>u_UpgradeCardsAni01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,768},{395,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,95}}</string>
                <key>sourceSize</key>
                <string>{395,95}</string>
            </dict>
            <key>u_UpgradeCardsBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,123},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>u_UpgradeCardsBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,559},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>u_UpgradeCardsBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,3},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>u_UpgradeCardsBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,940},{50,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{50,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>u_UpgradeCardsBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,680},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_UpgradeCardsBG09.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,894},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_UpgradeCardsBG10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,679},{250,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,61}}</string>
                <key>sourceSize</key>
                <string>{250,61}</string>
            </dict>
            <key>u_UpgradeCardsBG11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,744},{244,57}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,57}}</string>
                <key>sourceSize</key>
                <string>{250,61}</string>
            </dict>
            <key>u_UpgradeCardsBG12.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,3},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>u_UpgradeCardsBG13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,333},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>u_UpgradeCardsTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,313},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>u_UpgradeCardsTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,365},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>u_UpgradeCardsTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,339},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>u_UpgradeCardsTex04.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,972},{83,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,22}}</string>
                <key>sourceSize</key>
                <string>{83,22}</string>
            </dict>
            <key>u_UpgradeCardsTex05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,998},{83,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,22}}</string>
                <key>sourceSize</key>
                <string>{83,22}</string>
            </dict>
            <key>u_UpgradeCards_Guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,392},{279,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,283}}</string>
                <key>sourceSize</key>
                <string>{279,283}</string>
            </dict>
            <key>u_cbbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,559},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>u_cbbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,937},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>u_duanzaoBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,805},{222,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,45}}</string>
                <key>sourceSize</key>
                <string>{222,45}</string>
            </dict>
            <key>u_duanzaoBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,243},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>u_duanzaoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,680},{199,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,77}}</string>
                <key>sourceSize</key>
                <string>{199,77}</string>
            </dict>
            <key>u_duanzaoKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,761},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>u_duanzaoKuangBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,489},{203,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,187}}</string>
                <key>sourceSize</key>
                <string>{203,187}</string>
            </dict>
            <key>u_duanzaoLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,889},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>u_jhjButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,3},{362,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,309}}</string>
                <key>sourceSize</key>
                <string>{362,309}</string>
            </dict>
            <key>u_jhjButtonAni.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,867},{139,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,152}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>u_jhjbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,489},{334,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,275}}</string>
                <key>sourceSize</key>
                <string>{334,275}</string>
            </dict>
            <key>u_jhjtitle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,333},{478,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,152}}</string>
                <key>sourceSize</key>
                <string>{478,152}</string>
            </dict>
            <key>u_trzico.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,680},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>u_trzwz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,168},{559,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,161}}</string>
                <key>sourceSize</key>
                <string>{559,161}</string>
            </dict>
            <key>u_trzwz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,316},{333,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,72}}</string>
                <key>sourceSize</key>
                <string>{333,72}</string>
            </dict>
            <key>u_trzwz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{559,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,161}}</string>
                <key>sourceSize</key>
                <string>{559,161}</string>
            </dict>
            <key>u_yunbao_biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,392},{176,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,163}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>u_yunbao_xiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,878},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>u_yunbao_xiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,784},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>u_yunbao_xiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,854},{98,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,79}}</string>
                <key>sourceSize</key>
                <string>{98,79}</string>
            </dict>
            <key>u_yunbaobg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,992},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>u_yunbaobg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,778},{104,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,158}}</string>
                <key>sourceSize</key>
                <string>{104,158}</string>
            </dict>
            <key>u_yunbaobg_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,49},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>u_yunbaobg_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,972},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure03_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9cad2dbfb3b4de64c552faaaea77b2b$</string>
            <key>textureFileName</key>
            <string>Adventure03_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
