<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baomu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,290},{426,92}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,262},{426,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Baomu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,388},{426,18}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,255},{426,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Baomu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,582},{158,84}}</string>
                <key>offset</key>
                <string>{-9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,294},{158,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Lan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,4},{51,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>Lan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,152},{36,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{36,65}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>Lan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,412},{53,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>Lan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,79},{50,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,67}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>Lan_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,297},{60,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>Lan_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,223},{61,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>Lan_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,372},{60,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,68}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>Lan_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,487},{55,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>Lan_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,446},{59,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Lan_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,487},{359,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,89}}</string>
                <key>sourceSize</key>
                <string>{359,89}</string>
            </dict>
            <key>Lan_fight_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{446,180}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,160},{446,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Lan_round02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,412},{366,69}}</string>
                <key>offset</key>
                <string>{-305,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{366,69}}</string>
                <key>sourceSize</key>
                <string>{976,105}</string>
            </dict>
            <key>Round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{426,94}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,263},{426,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Text_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,670},{256,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Text_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,756},{252,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{252,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Text_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,582},{256,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle8_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44ba8e7820fb0a74969b2e1acc59eaa2$</string>
            <key>textureFileName</key>
            <string>battle8_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
