<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_zhanjiA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{128,82}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA02.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{135,3},{108,106}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,113},{84,120}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,113},{92,124}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle15_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609d692e34ba685065784b919384c57c$</string>
            <key>textureFileName</key>
            <string>battle15_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
