<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_lighthuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,307},{193,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,202}}</string>
                <key>sourceSize</key>
                <string>{193,202}</string>
            </dict>
            <key>buff_lighthuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{367,300}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,300}}</string>
                <key>sourceSize</key>
                <string>{367,320}</string>
            </dict>
            <key>buff_starhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,3},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle22_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a733c803fb5ae832b7ed3f5479d903$</string>
            <key>textureFileName</key>
            <string>battle22_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
