<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_PetBuffBGA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,157},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>B_PetBuffBGA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,357},{173,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,42}}</string>
                <key>sourceSize</key>
                <string>{173,42}</string>
            </dict>
            <key>B_PetBuffBGB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>B_PetBuffBGB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,311},{173,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,42}}</string>
                <key>sourceSize</key>
                <string>{173,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle24_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1321288f63fa9a2130d2788222abfea4$</string>
            <key>textureFileName</key>
            <string>battle24_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
