<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_baomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,4},{281,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,86}}</string>
                <key>sourceSize</key>
                <string>{281,86}</string>
            </dict>
            <key>b_bgb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,185},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>b_bloodc.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,225},{115,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,16}}</string>
                <key>sourceSize</key>
                <string>{115,16}</string>
            </dict>
            <key>b_qs.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,185},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>buff_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,185},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>image90.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{135,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,175}}</string>
                <key>sourceSize</key>
                <string>{135,175}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,96},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>win_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,221},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle3_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1154fdd540c45f2a948aa1fca2721ede$</string>
            <key>textureFileName</key>
            <string>battle3_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
