<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r3_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,4},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>r3_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,360},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>r3_circle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,4},{177,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,187}}</string>
                <key>sourceSize</key>
                <string>{177,187}</string>
            </dict>
            <key>r3_circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,197},{169,157}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{169,157}}</string>
                <key>sourceSize</key>
                <string>{177,187}</string>
            </dict>
            <key>r3_circle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{247,235}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{247,235}}</string>
                <key>sourceSize</key>
                <string>{349,347}</string>
            </dict>
            <key>r3_particles01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,115},{40,37}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{40,37}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>r3_particles02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,64},{50,45}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{50,45}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>r3_particles04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,276},{70,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{70,63}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>r3_particles05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,197},{76,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,73}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>r3_particles07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,330},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,85}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>r3_particles09.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,245},{94,79}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,79}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle21_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a71a045bbe963fecb0c43e3110571005$</string>
            <key>textureFileName</key>
            <string>battle21_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
