<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_BullfightBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{156,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{156,186}</string>
            </dict>
            <key>u_BullfightBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{178,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,72}}</string>
                <key>sourceSize</key>
                <string>{178,72}</string>
            </dict>
            <key>u_BullfightExpBG1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,125},{175,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>u_BullfightExpBG1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,77},{175,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,45}}</string>
                <key>sourceSize</key>
                <string>{175,45}</string>
            </dict>
            <key>u_BullfightIco1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,253},{194,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{194,176}}</string>
                <key>sourceSize</key>
                <string>{196,178}</string>
            </dict>
            <key>u_BullfightIco2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,248}}</string>
                <key>sourceSize</key>
                <string>{169,248}</string>
            </dict>
            <key>u_BullfightIco3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{135,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,131}}</string>
                <key>sourceSize</key>
                <string>{135,131}</string>
            </dict>
            <key>u_BullfightTitleBG1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,173},{160,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>u_BullfightTitleBG1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,432},{160,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>u_BullfightTitleBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,442},{226,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,60}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>u_BullfightTitleBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>u_icoqyBullfight.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,136},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullfight.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbbc490b0a4bc48eb54b625ff8238e2$</string>
            <key>textureFileName</key>
            <string>Bullfight.png</string>
        </dict>
    </dict>
</plist>
