<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EnergyCoreFuseAnim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,828},{278,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,110}}</string>
                <key>sourceSize</key>
                <string>{278,110}</string>
            </dict>
            <key>u_EnergyCoreFuseAnim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{368,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,120}}</string>
                <key>sourceSize</key>
                <string>{368,120}</string>
            </dict>
            <key>u_EnergyCoreFuseBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,110},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>u_EnergyCoreFuseBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,57},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>u_EnergyCoreFuseBtn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,4},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>u_EnergyCoreFuseBtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,163},{164,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,115}}</string>
                <key>sourceSize</key>
                <string>{164,115}</string>
            </dict>
            <key>u_EnergyCoreFuseExp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,944},{140,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,17}}</string>
                <key>sourceSize</key>
                <string>{140,17}</string>
            </dict>
            <key>u_EnergyCoreFuseExp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,414},{67,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,13}}</string>
                <key>sourceSize</key>
                <string>{67,13}</string>
            </dict>
            <key>u_EnergyCoreFusebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,130},{329,692}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,692}}</string>
                <key>sourceSize</key>
                <string>{329,692}</string>
            </dict>
            <key>u_EnergyCoreFusebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,828},{204,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,178}}</string>
                <key>sourceSize</key>
                <string>{204,178}</string>
            </dict>
            <key>u_EnergyCoreFusebg02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,427},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>u_EnergyCoreFusebg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,967},{134,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,48}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>u_EnergyCoreFusebg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,944},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>u_EnergyCoreFusebg04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,374},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>u_EnergyCoreFusebg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,284},{148,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,84}}</string>
                <key>sourceSize</key>
                <string>{148,84}</string>
            </dict>
            <key>u_EnergyCoreFusebg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,374},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnergyCoreFuse_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9ffcb3e5e6d3c32e7a2b591f2f8a2e$</string>
            <key>textureFileName</key>
            <string>EnergyCoreFuse_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
