<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ChoiceBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,357},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{204,206}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>u_ChoiceBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,653},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,85}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>u_ChoiceBanner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,622},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_ChoiceBanner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,744},{47,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_ChoiceBanner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,724},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_ChoiceBanner4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,569},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_ChoiceNamiBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,391},{320,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,381}}</string>
                <key>sourceSize</key>
                <string>{320,381}</string>
            </dict>
            <key>u_ChoiceNamiBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,808},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>u_ChoiceNamiHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,778},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>u_ChoiceNamiHead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,875},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>u_ChoiceNamiPic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,4},{390,643}}</string>
                <key>offset</key>
                <string>{55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,29},{390,643}}</string>
                <key>sourceSize</key>
                <string>{668,697}</string>
            </dict>
            <key>u_ChoiceNamiPic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,4},{220,347}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,2},{220,347}}</string>
                <key>sourceSize</key>
                <string>{334,349}</string>
            </dict>
            <key>u_ChoiceSnjiBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,4},{320,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,381}}</string>
                <key>sourceSize</key>
                <string>{320,381}</string>
            </dict>
            <key>u_ChoiceSnjiBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,839},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>u_ChoiceSnjiBG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,933},{136,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,82}}</string>
                <key>sourceSize</key>
                <string>{138,84}</string>
            </dict>
            <key>u_ChoiceSnjiHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,569},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>u_ChoiceSnjiHead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,724},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>u_ChoiceSnjiPic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,4},{446,643}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,36},{446,643}}</string>
                <key>sourceSize</key>
                <string>{668,697}</string>
            </dict>
            <key>u_ChoiceSnjiPic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,629},{242,341}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,8},{242,341}}</string>
                <key>sourceSize</key>
                <string>{334,349}</string>
            </dict>
            <key>u_ChoiceZoroBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,629},{320,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,381}}</string>
                <key>sourceSize</key>
                <string>{320,381}</string>
            </dict>
            <key>u_ChoiceZoroBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,653},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>u_ChoiceZoroBG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,929},{142,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,88}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>u_ChoiceZoroHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,653},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>u_ChoiceZoroHead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,778},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>u_ChoiceZoroPic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{626,619}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{626,619}}</string>
                <key>sourceSize</key>
                <string>{668,697}</string>
            </dict>
            <key>u_ChoiceZoroPic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,653},{334,333}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first5_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6213b04a1cb40d51170a6a93e7ccdd1b$</string>
            <key>textureFileName</key>
            <string>first5_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
