<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EffectBomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>u_EffectBomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,3},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>u_EffectBombB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,105},{78,86}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{78,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>u_EffectBombB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,195},{110,108}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{110,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>u_EffectBombB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,143},{136,170}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{136,170}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>u_EffectScrap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,105},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>u_EffectStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,307},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,80}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>u_EffectStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,118},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,15}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>u_EffectStar03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,391},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,59}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene18_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a7e25a74ab6289b1bacb6a27f2d1ea$</string>
            <key>textureFileName</key>
            <string>mainScene18_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
