<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CSContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{625,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,196}}</string>
                <key>sourceSize</key>
                <string>{625,196}</string>
            </dict>
            <key>u_ChatWindowBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{259,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,317}}</string>
                <key>sourceSize</key>
                <string>{259,317}</string>
            </dict>
            <key>u_ChatWindowBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,333},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>u_ChatWindowBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,834},{135,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,63}}</string>
                <key>sourceSize</key>
                <string>{137,65}</string>
            </dict>
            <key>u_ChatWindowBtn01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,899},{133,53}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{133,53}}</string>
                <key>sourceSize</key>
                <string>{137,65}</string>
            </dict>
            <key>u_EncSystembg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,772},{161,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,48}}</string>
                <key>sourceSize</key>
                <string>{161,48}</string>
            </dict>
            <key>u_EncSystembg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1097},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>u_EncSystembg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1068},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>u_HakiUpgradeEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{180,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,234}}</string>
                <key>sourceSize</key>
                <string>{180,234}</string>
            </dict>
            <key>u_HakiUpgradeEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,957},{285,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,3}}</string>
                <key>sourceSize</key>
                <string>{285,3}</string>
            </dict>
            <key>u_HakiUpgradeText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{435,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,116}}</string>
                <key>sourceSize</key>
                <string>{435,116}</string>
            </dict>
            <key>u_LianMengNum02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,402},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>u_LootBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,649},{320,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,92}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>u_SysLeavePageBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,102},{329,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,229}}</string>
                <key>sourceSize</key>
                <string>{329,229}</string>
            </dict>
            <key>u_SysLeavePageBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,743},{320,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,89}}</string>
                <key>sourceSize</key>
                <string>{320,89}</string>
            </dict>
            <key>u_banner000.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1909},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>u_banner06.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,102},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>u_bannerHaki.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1909},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>u_buttenC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,979},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{187,51}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{187,51}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenD01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,890},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenD02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{187,51}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{187,51}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1991},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>u_caishendaobg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,834},{74,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,121}}</string>
                <key>sourceSize</key>
                <string>{74,121}</string>
            </dict>
            <key>u_canwubg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,333},{321,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,314}}</string>
                <key>sourceSize</key>
                <string>{321,314}</string>
            </dict>
            <key>u_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,962},{402,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,604}}</string>
                <key>sourceSize</key>
                <string>{402,604}</string>
            </dict>
            <key>u_cc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1658},{209,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,256}}</string>
                <key>sourceSize</key>
                <string>{209,256}</string>
            </dict>
            <key>u_cc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1583},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>u_contenE.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1568},{202,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,168}}</string>
                <key>sourceSize</key>
                <string>{202,168}</string>
            </dict>
            <key>u_czbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{190,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,421}}</string>
                <key>sourceSize</key>
                <string>{190,421}</string>
            </dict>
            <key>u_duanzaoBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,834},{134,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{134,120}</string>
            </dict>
            <key>u_duanzaoHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1568},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>u_dzye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,979},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_framebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,144}}</string>
                <key>sourceSize</key>
                <string>{640,144}</string>
            </dict>
            <key>u_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1738},{129,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,244}}</string>
                <key>sourceSize</key>
                <string>{129,244}</string>
            </dict>
            <key>u_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1650},{132,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,244}}</string>
                <key>sourceSize</key>
                <string>{132,244}</string>
            </dict>
            <key>u_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1738},{129,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,238}}</string>
                <key>sourceSize</key>
                <string>{129,238}</string>
            </dict>
            <key>u_icobg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1068},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>u_icobg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1551},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>u_icobg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1097},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>u_icobg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1916},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_jianglicontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_koujuebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,822},{160,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,273}}</string>
                <key>sourceSize</key>
                <string>{160,273}</string>
            </dict>
            <key>u_ld01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1389},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>u_ld02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,151},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_ljconten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_ljcontenC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1909},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_lw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1178},{256,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,209}}</string>
                <key>sourceSize</key>
                <string>{256,209}</string>
            </dict>
            <key>u_qh06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1651},{203,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,256}}</string>
                <key>sourceSize</key>
                <string>{203,256}</string>
            </dict>
            <key>u_safe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,480},{51,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,480}}</string>
                <key>sourceSize</key>
                <string>{51,480}</string>
            </dict>
            <key>u_safe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{369,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,98}}</string>
                <key>sourceSize</key>
                <string>{369,98}</string>
            </dict>
            <key>u_teambg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,962},{402,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,604}}</string>
                <key>sourceSize</key>
                <string>{402,604}</string>
            </dict>
            <key>u_texbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1991},{203,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{203,34}</string>
            </dict>
            <key>u_texbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1132},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>u_texbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1583},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene09_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d73328a065ca49b09358806f0f0795e1$</string>
            <key>textureFileName</key>
            <string>mainScene09_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
