<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_contenTalkA.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>u_contenTalkB.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>u_framebutten01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,135},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>u_framebutten02c.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,355},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>u_framebutten04c.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,355},{128,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>u_framebutten06c.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,3},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>u_loading2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,270},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>u_loading2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,355},{95,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{95,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene14_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a0c25e7e6535487c07c81edfe144f1$</string>
            <key>textureFileName</key>
            <string>mainScene14_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
