<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MazeExploreFloorC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>u_MazeExploreFloorC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,286},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>u_MazeExploreFloorC03.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,152},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>u_MazeExploreu_DoorC.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{134,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{134,147}</string>
            </dict>
            <key>u_MazeExploreu_FogC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{134,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{134,147}</string>
            </dict>
            <key>u_MazeExploreu_FogC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{134,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{134,147}</string>
            </dict>
            <key>u_MazeExploreu_FogC03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{134,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{134,147}</string>
            </dict>
            <key>u_MazeExploreu_StairsC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{134,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MazeExplore4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0b397a33c9c7c3fa7d923381d1e6f1$</string>
            <key>textureFileName</key>
            <string>MazeExplore4.png</string>
        </dict>
    </dict>
</plist>
