<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_NamiTreasureBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,3},{185,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,331}}</string>
                <key>sourceSize</key>
                <string>{185,331}</string>
            </dict>
            <key>u_NamiTreasureBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{315,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{315,478}}</string>
                <key>sourceSize</key>
                <string>{315,480}</string>
            </dict>
            <key>u_icoqyNamiTreasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,338},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NamiTreasure.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31ed810c6317bbdf0fc982290ce0b23$</string>
            <key>textureFileName</key>
            <string>NamiTreasure.png</string>
        </dict>
    </dict>
</plist>
