<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_OHaraLibraryAni01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{130,178}}</string>
                <key>offset</key>
                <string>{65,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,27},{130,178}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,183},{118,176}}</string>
                <key>offset</key>
                <string>{58,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,26},{118,176}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni04.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,201},{84,184}}</string>
                <key>offset</key>
                <string>{42,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,17},{84,184}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{86,196}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,8},{86,196}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{104,200}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{118,198}}</string>
                <key>offset</key>
                <string>{-41,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{118,198}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni09.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,205},{130,190}}</string>
                <key>offset</key>
                <string>{-52,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{130,190}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
            <key>u_OHaraLibraryAni12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,180}}</string>
                <key>offset</key>
                <string>{-65,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{132,180}}</string>
                <key>sourceSize</key>
                <string>{320,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OHaraLibraryAni.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c04d8dde846d276c83c61a22a6a69ed$</string>
            <key>textureFileName</key>
            <string>OHaraLibraryAni.png</string>
        </dict>
    </dict>
</plist>
