<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_OLRewardBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,371},{275,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,71}}</string>
                <key>sourceSize</key>
                <string>{275,71}</string>
            </dict>
            <key>u_OLRewardBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,135},{369,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,39}}</string>
                <key>sourceSize</key>
                <string>{369,39}</string>
            </dict>
            <key>u_OLRewardBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,125}}</string>
                <key>sourceSize</key>
                <string>{500,125}</string>
            </dict>
            <key>u_OLRewardBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,180},{283,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,185}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>u_icoqyOLReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,135},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OLReward.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e499cbb95c326d69a22cbdb0aba9794$</string>
            <key>textureFileName</key>
            <string>OLReward.png</string>
        </dict>
    </dict>
</plist>
