<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_PetTrialBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{304,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,278}}</string>
                <key>sourceSize</key>
                <string>{304,278}</string>
            </dict>
            <key>u_PetTrialBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,332},{147,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,173}}</string>
                <key>sourceSize</key>
                <string>{147,173}</string>
            </dict>
            <key>u_PetTrialBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,332},{221,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,58}}</string>
                <key>sourceSize</key>
                <string>{221,58}</string>
            </dict>
            <key>u_PetTrialBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,155},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>u_PetTrialBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,155},{147,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,173}}</string>
                <key>sourceSize</key>
                <string>{147,173}</string>
            </dict>
            <key>u_PetTrialBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,354},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>u_PetTrialBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,285},{3,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,32}}</string>
                <key>sourceSize</key>
                <string>{3,32}</string>
            </dict>
            <key>u_PetTrialBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,285},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>u_PetTrialBG09.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,306},{48,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,17}</string>
            </dict>
            <key>u_PetTrialBG10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,285},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>u_PetTrialBG11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,285},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>u_PetTrialBG12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,285},{95,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,17}}</string>
                <key>sourceSize</key>
                <string>{95,17}</string>
            </dict>
            <key>u_PetTrialBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,354},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>u_PetTrialBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,79},{197,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,72}}</string>
                <key>sourceSize</key>
                <string>{197,72}</string>
            </dict>
            <key>u_PetTrialBtn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,3},{197,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,72}}</string>
                <key>sourceSize</key>
                <string>{197,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetMainScene3_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7dc4b699f2d5691ee7f772c101e9af$</string>
            <key>textureFileName</key>
            <string>PetMainScene3_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
