<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_PK3v3BG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,290},{93,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,109}}</string>
                <key>sourceSize</key>
                <string>{95,111}</string>
            </dict>
            <key>u_PK3v3BG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,218},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>u_PK3v3BG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,277},{55,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,139}}</string>
                <key>sourceSize</key>
                <string>{55,139}</string>
            </dict>
            <key>u_PK3v3BG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,137},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>u_PK3v3BGlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,213},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>u_PK3v3BGwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,422},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>u_PK3v3Tex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,312},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>u_PK3v3Tex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,422},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>u_PK3v3Tex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,213},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>u_PK3v3Tex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,4},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>u_PK3v3Tex5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,472},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>u_PK3v3Tex6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,472},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>u_PK3v3TexLV.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,213},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>u_PK3v3butten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,113},{317,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,94}}</string>
                <key>sourceSize</key>
                <string>{317,94}</string>
            </dict>
            <key>u_PK3v3butten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{429,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{429,103}}</string>
                <key>sourceSize</key>
                <string>{431,105}</string>
            </dict>
            <key>u_PK3v3butten3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,55},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>u_PK3v3butten4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_PK3v3butten5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,312},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_PK3v3butten6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,212},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_PK3v3butten7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,213},{92,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>u_PK3v3buttenBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,113},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>u_PK3v3buttenTex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,361},{138,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,43}}</string>
                <key>sourceSize</key>
                <string>{138,43}</string>
            </dict>
            <key>u_PK3v3buttenTex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,422},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>u_PK3v3buttenTex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,312},{138,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,43}}</string>
                <key>sourceSize</key>
                <string>{138,43}</string>
            </dict>
            <key>u_icoqyPK3v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,422},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PK3v3_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5643ed716ec0c66c5ffed187248a135f$</string>
            <key>textureFileName</key>
            <string>PK3v3_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
