<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_Seashell01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>u_Seashell02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,70}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>u_Seashell03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,186},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,61}}</string>
                <key>sourceSize</key>
                <string>{86,63}</string>
            </dict>
            <key>u_Seashell04.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,59}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>u_Seashell05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>u_SeashellBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,99}}</string>
                <key>sourceSize</key>
                <string>{183,99}</string>
            </dict>
            <key>u_SeashellBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,197},{105,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,55}}</string>
                <key>sourceSize</key>
                <string>{105,55}</string>
            </dict>
            <key>u_SeashellBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{113,81}</string>
            </dict>
            <key>u_SeashellBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,89},{128,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,63}}</string>
                <key>sourceSize</key>
                <string>{128,63}</string>
            </dict>
            <key>u_SeashellBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,187},{127,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,67}}</string>
                <key>sourceSize</key>
                <string>{127,67}</string>
            </dict>
            <key>u_SeashellExp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,73},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>u_SeashellExp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,170},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>u_SeashellExp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,170},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>u_SeashellExp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,84},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>u_SeashellExp05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,84},{79,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,15}}</string>
                <key>sourceSize</key>
                <string>{79,15}</string>
            </dict>
            <key>u_SeashellHead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,186},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>u_SeashellHead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>u_SeashellHead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,100},{83,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,69}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>u_SeashellHead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,100},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>u_icoqySeashell.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,102},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Seashell.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dafda56faee20ef56bf85a716509233$</string>
            <key>textureFileName</key>
            <string>Seashell.png</string>
        </dict>
    </dict>
</plist>
