<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ShareFriendBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,421},{387,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,10}}</string>
                <key>sourceSize</key>
                <string>{387,10}</string>
            </dict>
            <key>u_ShareFriendBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,196}}</string>
                <key>sourceSize</key>
                <string>{500,196}</string>
            </dict>
            <key>u_ShareFriendBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,206},{212,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,209}}</string>
                <key>sourceSize</key>
                <string>{212,209}</string>
            </dict>
            <key>u_ShareFriendBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,206},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>u_ShareFriendBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,437},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>u_ShareFriendBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,437},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>u_icoqyShareFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,421},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareFriend.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa00a6cb3816521c90af6aaf8cb7538f$</string>
            <key>textureFileName</key>
            <string>ShareFriend.png</string>
        </dict>
    </dict>
</plist>
