<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_TheOnlineTex00.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,374},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>u_TheOnlineTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,278},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>u_TheOnlineTexAni01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,454},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,399},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,344},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,289},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,234},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,179},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni07.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,124},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni08.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,69},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni09.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,14},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,424},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlineTexAni11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,369},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>u_TheOnlinebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,100},{276,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,122}}</string>
                <key>sourceSize</key>
                <string>{276,122}</string>
            </dict>
            <key>u_TheOnlinebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,227},{283,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,46}}</string>
                <key>sourceSize</key>
                <string>{283,46}</string>
            </dict>
            <key>u_TheOnlinebg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{490,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,5}}</string>
                <key>sourceSize</key>
                <string>{490,5}</string>
            </dict>
            <key>u_TheOnlinebg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,14},{320,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,81}}</string>
                <key>sourceSize</key>
                <string>{320,81}</string>
            </dict>
            <key>u_TheOnlinebg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,289},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TheOnlineAni.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d31f91db32d1bc202027dff5edac991$</string>
            <key>textureFileName</key>
            <string>TheOnlineAni.png</string>
        </dict>
    </dict>
</plist>
