<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CrossServerWarBPRewardBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,3},{256,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,62}}</string>
                <key>sourceSize</key>
                <string>{256,62}</string>
            </dict>
            <key>u_CrossServerWarBPRewardBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,279},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>u_CrossServerWarBPRewardBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,221},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>u_CrossServerWarBtn01B.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,431},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>u_CrossServerWarEventsTex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,149},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,187},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,327},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,149},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,429},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,497},{34,9}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{34,9}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,225},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni7.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,221},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_CrossServerWarEventsTexAni8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,431},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>u_CrossServerWarEventsWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,371},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>u_CrossServerWarRewardBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,457},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>u_CrossServerWarTitle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,365},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>u_CrossServerWarTitle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,149},{175,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,68}}</string>
                <key>sourceSize</key>
                <string>{175,68}</string>
            </dict>
            <key>u_CrossServerWarTitle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,3},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,452},{48,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{48,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,391},{48,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,329},{50,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,265},{50,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,391},{48,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,263},{50,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,201},{50,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,329},{48,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,265},{46,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTitleNum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,201},{50,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_CrossServerWarTrophy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{178,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,225}}</string>
                <key>sourceSize</key>
                <string>{178,225}</string>
            </dict>
            <key>u_CrossServerWarTrophy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,232},{171,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,195}}</string>
                <key>sourceSize</key>
                <string>{171,195}</string>
            </dict>
            <key>u_DevilFruitBg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,372},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>u_DevilFruitBg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,69},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>u_DevilFruitBg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,279},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>u_HakiTrialBG01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,69},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure08_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f176cd9b2c58debeb729d19b8164522$</string>
            <key>textureFileName</key>
            <string>Adventure08_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
