<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,47},{17,35}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{17,35}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>E02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,47},{13,37}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{13,37}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>E04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,92},{5,17}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{5,17}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>E06.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,92},{19,11}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{19,11}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>E09.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,4},{51,37}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{51,37}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>E10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{53,37}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{53,37}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>L10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,47},{47,39}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,188},{47,39}}</string>
                <key>sourceSize</key>
                <string>{603,487}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle17_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d892b4ade5e010062f9c7ce6442561cf$</string>
            <key>textureFileName</key>
            <string>battle17_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
