<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_win01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,348},{84,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,121}}</string>
                <key>sourceSize</key>
                <string>{84,121}</string>
            </dict>
            <key>b_win02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,173},{410,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,80}}</string>
                <key>sourceSize</key>
                <string>{410,80}</string>
            </dict>
            <key>b_win03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,86},{461,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,81}}</string>
                <key>sourceSize</key>
                <string>{461,81}</string>
            </dict>
            <key>lose_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,291},{404,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,81}}</string>
                <key>sourceSize</key>
                <string>{404,81}</string>
            </dict>
            <key>lose_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{485,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,76}}</string>
                <key>sourceSize</key>
                <string>{485,76}</string>
            </dict>
            <key>win_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,378},{279,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,283}}</string>
                <key>sourceSize</key>
                <string>{279,283}</string>
            </dict>
            <key>win_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,667},{56,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,95}}</string>
                <key>sourceSize</key>
                <string>{56,95}</string>
            </dict>
            <key>win_ibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,126},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>win_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,259},{409,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,26}}</string>
                <key>sourceSize</key>
                <string>{409,26}</string>
            </dict>
            <key>win_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,586},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>win_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,221},{84,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,121}}</string>
                <key>sourceSize</key>
                <string>{84,121}</string>
            </dict>
            <key>win_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,378},{117,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,95}}</string>
                <key>sourceSize</key>
                <string>{117,95}</string>
            </dict>
            <key>win_nbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,667},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>win_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,479},{112,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,101}}</string>
                <key>sourceSize</key>
                <string>{112,101}</string>
            </dict>
            <key>win_obai.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,721},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>win_starbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,86},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>win_starhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,768},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>win_starhuangbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,726},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>win_starxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,173},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>win_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,529},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>win_ubai.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,672},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>win_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,667},{143,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,95}}</string>
                <key>sourceSize</key>
                <string>{143,95}</string>
            </dict>
            <key>win_wbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,475},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>win_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,631},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>win_ybai.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,672},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle2_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c87488291a294b51868ae8fff2573a0$</string>
            <key>textureFileName</key>
            <string>battle2_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
