<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_liehen.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,432},{45,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>b_liehen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,327},{29,57}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{29,57}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,432},{61,77}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{61,77}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,327},{83,101}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{83,101}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,303},{101,125}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{101,125}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,156},{109,143}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{109,143}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,3},{111,149}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{111,149}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,176},{121,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{121,147}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{127,169}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{127,169}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle9_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c49d96858979e976ea4f78fc4150b1e1$</string>
            <key>textureFileName</key>
            <string>battle9_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
