<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_bake.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,822},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>d_chuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,863},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>d_limao.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,825},{200,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,167}}</string>
                <key>sourceSize</key>
                <string>{200,167}</string>
            </dict>
            <key>d_lufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,459},{300,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,360}}</string>
                <key>sourceSize</key>
                <string>{300,360}</string>
            </dict>
            <key>d_lufei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,315},{300,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,294}</string>
            </dict>
            <key>d_qingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{550,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,449}}</string>
                <key>sourceSize</key>
                <string>{550,449}</string>
            </dict>
            <key>d_qingzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,4},{400,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,305}}</string>
                <key>sourceSize</key>
                <string>{400,305}</string>
            </dict>
            <key>d_shanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,825},{250,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,167}}</string>
                <key>sourceSize</key>
                <string>{250,167}</string>
            </dict>
            <key>d_suolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,459},{396,398}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{396,398}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>d_suolong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,615},{250,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,201}}</string>
                <key>sourceSize</key>
                <string>{250,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first1_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6338b044cbcce200257a7817b36efb6$</string>
            <key>textureFileName</key>
            <string>first1_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
