<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_LuckyPaintedEggshellBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,164},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,111},{300,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,355}}</string>
                <key>sourceSize</key>
                <string>{300,355}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,164},{14,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,335}}</string>
                <key>sourceSize</key>
                <string>{14,335}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,380},{74,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,115}}</string>
                <key>sourceSize</key>
                <string>{74,115}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,380},{74,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,115}}</string>
                <key>sourceSize</key>
                <string>{74,115}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,89},{302,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,16}}</string>
                <key>sourceSize</key>
                <string>{302,16}</string>
            </dict>
            <key>u_LuckyPaintedEggshellBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,4},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>u_LuckyPaintedEggshellTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{360,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,79}}</string>
                <key>sourceSize</key>
                <string>{360,79}</string>
            </dict>
            <key>u_icoqyEggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,74},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckyPaintedEggshell.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd721a17cca3eb9fabaeaf49432e8a88$</string>
            <key>textureFileName</key>
            <string>LuckyPaintedEggshell.png</string>
        </dict>
    </dict>
</plist>
