<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_SettleLoseBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{206,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,235}}</string>
                <key>sourceSize</key>
                <string>{206,235}</string>
            </dict>
            <key>u_SettleLoseBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,96},{196,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,89}}</string>
                <key>sourceSize</key>
                <string>{196,89}</string>
            </dict>
            <key>u_SettleLoseBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,242},{213,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,89}}</string>
                <key>sourceSize</key>
                <string>{213,89}</string>
            </dict>
            <key>u_SettleLoseBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,381},{134,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,82}</string>
            </dict>
            <key>u_SettleLoseBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,424},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>u_SettleWinBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,189},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>u_SettleWinBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,96},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>u_SettleWinBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,3},{199,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,89}}</string>
                <key>sourceSize</key>
                <string>{199,89}</string>
            </dict>
            <key>u_SettleWinBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,335},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>u_SettleWinBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,313},{179,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,64}}</string>
                <key>sourceSize</key>
                <string>{179,64}</string>
            </dict>
            <key>u_SettleWinBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,193},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>u_SettleWinBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,322},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>u_SettleXX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,424},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>u_SettleXX2 .png</key>
            <dict>
                <key>frame</key>
                <string>{{438,424},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>u_SettleXX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,3},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>u_buttenQuicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,232},{53,39}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>u_buttenQuicken02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,189},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,39}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>u_buttenQuicken03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,467},{61,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,39}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene19_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:564c0053fddd4bcc0f3b045fdfaa4b0d$</string>
            <key>textureFileName</key>
            <string>mainScene19_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
