<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18183.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,392},{136,54}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>song.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,82},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>u_EncSystembg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,331},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>u_LianMengNum03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,82},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>u_LootBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,452},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>u_LootTex.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,465},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>u_MidAutumnbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,234},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>u_TitleAllBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,409},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>u_banner05.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,278},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>u_buttenFr01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,392},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>u_buttenG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,234},{108,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
            <key>u_contenB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,167},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_contenB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_frameF1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,82},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>u_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,305},{88,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icoqy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,403},{76,20}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{76,20}}</string>
                <key>sourceSize</key>
                <string>{84,20}</string>
            </dict>
            <key>u_icoqy07.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,425},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_koujue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,3},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>u_koujueLV.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,456},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>u_largess.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,3},{307,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,75}}</string>
                <key>sourceSize</key>
                <string>{307,75}</string>
            </dict>
            <key>u_pbawang.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,475},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pbawangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,334},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pbawangp.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,456},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_ptib.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,334},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_qhbj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,331},{537,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,57}}</string>
                <key>sourceSize</key>
                <string>{537,57}</string>
            </dict>
            <key>u_qhbj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,392},{318,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,56}}</string>
                <key>sourceSize</key>
                <string>{318,56}</string>
            </dict>
            <key>u_qhbj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,452},{145,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,55}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>u_qhbj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,452},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,486},{70,23}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{70,23}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,424},{72,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,47}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,450},{74,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,53}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj08.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,165},{68,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,51}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj09.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,427},{72,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_qhbj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,452},{72,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>u_teambg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,217},{123,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>sourceSize</key>
                <string>{123,84}</string>
            </dict>
            <key>u_texbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,420},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,32}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>u_xzxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,305},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,220},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene06_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6c81063c488f82d2f07a3cba8c1008a$</string>
            <key>textureFileName</key>
            <string>mainScene06_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
