<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_mainFrameBG01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{500,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,305}}</string>
                <key>sourceSize</key>
                <string>{500,305}</string>
            </dict>
            <key>u_mainFrameBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,312},{197,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,368}}</string>
                <key>sourceSize</key>
                <string>{197,368}</string>
            </dict>
            <key>u_mainFrameBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,672},{129,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,161}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>u_mainFrameBGBird01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,922},{56,28}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>u_mainFrameBGBird02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,950},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{56,22}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>u_mainFrameBGBird03.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,976},{54,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{54,20}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>u_mainFrameBGBird04.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1000},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>u_mainFrameBGFlagA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,920},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{64,26}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGFlagA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,952},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,26}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGFlagA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,984},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,26}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGFlagA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,922},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{64,26}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGFlagA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,954},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{64,26}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGFlagA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,982},{64,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{64,24}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>u_mainFrameBGSail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,684},{97,234}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{97,234}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,684},{99,232}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{99,232}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,312},{97,230}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{97,230}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,728},{97,226}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{97,226}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,312},{97,228}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{97,228}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,312},{97,228}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{97,228}}</string>
                <key>sourceSize</key>
                <string>{119,250}</string>
            </dict>
            <key>u_mainFrameBGSea01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,544},{138,180}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{138,180}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>u_mainFrameBGSea02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,546},{140,122}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{140,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene16_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40e16599a5196c72b3ad6ba3b4ba815$</string>
            <key>textureFileName</key>
            <string>mainScene16_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
