<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EncButtonB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{171,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,57}}</string>
                <key>sourceSize</key>
                <string>{171,57}</string>
            </dict>
            <key>u_EncButtonB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,21},{171,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,57}}</string>
                <key>sourceSize</key>
                <string>{171,57}</string>
            </dict>
            <key>u_EncHelpButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>u_HullRenovationBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,225},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>u_LootBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,152},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>u_LootBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,79},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>u_MarinePalybackBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,253},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>u_SysLeavePageTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,222},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>u_buttenA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,350},{109,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>u_buttenA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{121,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,58}}</string>
                <key>sourceSize</key>
                <string>{123,62}</string>
            </dict>
            <key>u_buttenB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_buttenF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>u_buttenHakiBW01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,331},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenHakiBW02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,284},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenHakiJW02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,218},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenHakiWZ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenI01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,164},{89,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{93,65}</string>
            </dict>
            <key>u_buttenL01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,75}}</string>
                <key>sourceSize</key>
                <string>{234,75}</string>
            </dict>
            <key>u_dzbutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_framebutten03.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,62},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>u_helpereffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>u_icoqy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,398},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyHR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,425},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyVIPFL.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,425},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jqbanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,397},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>u_pgongb.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,337},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pwuzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,80},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pwuzhuangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pwuzhuangp.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,210},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_teambgEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
            <key>u_xzgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene04_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1899a363c79e7a77d94cfc327e59b520$</string>
            <key>textureFileName</key>
            <string>mainScene04_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
