<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MarineBattleLoseBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{251,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,129}}</string>
                <key>sourceSize</key>
                <string>{251,129}</string>
            </dict>
            <key>u_MarineBattleLoseBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,136},{192,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,212}}</string>
                <key>sourceSize</key>
                <string>{192,212}</string>
            </dict>
            <key>u_MarineBattleLoseBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,352},{124,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,143}}</string>
                <key>sourceSize</key>
                <string>{124,143}</string>
            </dict>
            <key>u_MarineBattleLoseBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,352},{131,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,136}}</string>
                <key>sourceSize</key>
                <string>{131,136}</string>
            </dict>
            <key>u_MarineBattleLoseBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,147},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>u_MarineBattleLoseBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,257},{107,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{107,125}</string>
            </dict>
            <key>u_MarineBattleLoseBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,147},{182,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,172}}</string>
                <key>sourceSize</key>
                <string>{182,172}</string>
            </dict>
            <key>u_MarineBattleWinBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,3},{239,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,140}}</string>
                <key>sourceSize</key>
                <string>{239,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarineCastle4_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821d26aec0149287ce5aaeb2747b34c2$</string>
            <key>textureFileName</key>
            <string>MarineCastle4_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
