<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MazeExploreAniText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,178},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>u_MazeExploreAniText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,179},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>u_MazeExploreAniText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>u_MazeExploreAniText4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,132},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>u_MazeExploreAniText5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,132},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>u_MazeExploreAniText6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,15}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>u_MazeExploreLocation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>u_MazeExploreLocation01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>u_MazeExplorePageBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,100},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>u_MazeExplorePageBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{308,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,80}}</string>
                <key>sourceSize</key>
                <string>{308,80}</string>
            </dict>
            <key>u_MazeExplorePageBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,85},{174,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{174,44}</string>
            </dict>
            <key>u_MazeExplorePageBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,215},{174,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,28}}</string>
                <key>sourceSize</key>
                <string>{174,28}</string>
            </dict>
            <key>u_MazeExplorePageText01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>u_MazeExplorePageText02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,57},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>u_MazeExplorePageText03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,100},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>u_MazeExplorePageText04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,176},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>u_MazeExplorePageText05.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,100},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>u_MazeExplorePageText06.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,132},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MazeExplore1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d434df0a966ba69df96ca287b319aa4a$</string>
            <key>textureFileName</key>
            <string>MazeExplore1.png</string>
        </dict>
    </dict>
</plist>
