<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetCardBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,276},{226,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,340}}</string>
                <key>sourceSize</key>
                <string>{226,340}</string>
            </dict>
            <key>PetEvolutionBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,331},{303,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,340}}</string>
                <key>sourceSize</key>
                <string>{303,340}</string>
            </dict>
            <key>PetEvolutionBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,862},{172,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,102}}</string>
                <key>sourceSize</key>
                <string>{172,102}</string>
            </dict>
            <key>PetEvolutionBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,893},{101,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,46}}</string>
                <key>sourceSize</key>
                <string>{101,46}</string>
            </dict>
            <key>PetEvolutionBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,490},{72,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,17}}</string>
                <key>sourceSize</key>
                <string>{72,17}</string>
            </dict>
            <key>PetEvolutionText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,893},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>PetEvolutionText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,981},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>PetEvolutionText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,938},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>PetTeamBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,696},{322,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,281}}</string>
                <key>sourceSize</key>
                <string>{322,281}</string>
            </dict>
            <key>PetTeamBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,943},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>PetTeamText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,591},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>PetTeamText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,943},{21,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>PetTeamText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,768},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>PetTeamText4.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,675},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>PetTeamText5.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,236},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>u_PetBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,331},{333,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,361}}</string>
                <key>sourceSize</key>
                <string>{333,361}</string>
            </dict>
            <key>u_PetChestBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,675},{265,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,89}}</string>
                <key>sourceSize</key>
                <string>{265,89}</string>
            </dict>
            <key>u_PetChestBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,620},{265,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,90}}</string>
                <key>sourceSize</key>
                <string>{265,90}</string>
            </dict>
            <key>u_PetChestBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,714},{203,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,175}}</string>
                <key>sourceSize</key>
                <string>{203,175}</string>
            </dict>
            <key>u_PetChestBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,79},{197,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,193}}</string>
                <key>sourceSize</key>
                <string>{197,193}</string>
            </dict>
            <key>u_PetFateBannerA.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,714},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>u_PetFateBannerB.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,236},{130,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>u_PetFateBannerC.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,384},{134,102}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{134,102}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>u_PetFrameButten.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,490},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>u_PetShopBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,3},{320,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,72}}</string>
                <key>sourceSize</key>
                <string>{320,72}</string>
            </dict>
            <key>u_PetShopBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,768},{227,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,163}}</string>
                <key>sourceSize</key>
                <string>{227,163}</string>
            </dict>
            <key>u_PetShopBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,935},{220,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,61}}</string>
                <key>sourceSize</key>
                <string>{220,61}</string>
            </dict>
            <key>u_PetShopBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,79},{181,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,153}}</string>
                <key>sourceSize</key>
                <string>{181,153}</string>
            </dict>
            <key>u_PetTrialContentA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,167},{627,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_PetTrialContentA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{627,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_PetTrialExp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,981},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>u_PetTrialExp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,981},{176,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,34}}</string>
                <key>sourceSize</key>
                <string>{176,34}</string>
            </dict>
            <key>u_Scale9Sprte01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,3},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>u_Scale9Sprte02.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,511},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetMainScene1_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:164674bcb683a149d29a9e6d4ed42655$</string>
            <key>textureFileName</key>
            <string>PetMainScene1_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
