<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_UpgradeCardsBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,223}}</string>
                <key>sourceSize</key>
                <string>{168,223}</string>
            </dict>
            <key>u_UpgradeCardsBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,223}}</string>
                <key>sourceSize</key>
                <string>{168,223}</string>
            </dict>
            <key>u_UpgradeCardsBG14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,223}}</string>
                <key>sourceSize</key>
                <string>{168,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure10_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243668839685be6b1a91f9eb1ddaf90d$</string>
            <key>textureFileName</key>
            <string>Adventure10_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
