<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EnergyCoreBox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,309},{136,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,131}}</string>
                <key>sourceSize</key>
                <string>{136,131}</string>
            </dict>
            <key>u_EnergyCoreBox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,290},{140,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>u_EnergyCoreBox03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,174},{149,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,131}}</string>
                <key>sourceSize</key>
                <string>{149,131}</string>
            </dict>
            <key>u_EnergyCoreBox04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,290},{146,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,129}}</string>
                <key>sourceSize</key>
                <string>{146,129}</string>
            </dict>
            <key>u_EnergyCoreBox05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,3},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>u_EnergyCorebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{319,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,283}}</string>
                <key>sourceSize</key>
                <string>{319,283}</string>
            </dict>
            <key>u_HakiTrialBG01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,425},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
            <key>u_HakiTrialBG02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,444},{190,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,53}}</string>
                <key>sourceSize</key>
                <string>{190,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure09_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea657dfc0ec2cff36f922890f83841d2$</string>
            <key>textureFileName</key>
            <string>Adventure09_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
