<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CrossServerWarBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,326},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>u_CrossServerWarBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,3},{320,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,27}}</string>
                <key>sourceSize</key>
                <string>{320,27}</string>
            </dict>
            <key>u_CrossServerWarBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,222},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_CrossServerWarBPRewardBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,367},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>u_CrossServerWarBPRewardBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,455},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>u_CrossServerWarBPRewardBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,154},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>u_CrossServerWarEventsExp1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,3},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>u_CrossServerWarEventsFinals.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,303},{97,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,59}}</string>
                <key>sourceSize</key>
                <string>{97,59}</string>
            </dict>
            <key>u_CrossServerWarEventsTex0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,451},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>u_CrossServerWarEventsTex16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,91},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>u_CrossServerWarEventsTex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,34},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>u_CrossServerWarEventsTex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,366},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>u_CrossServerWarEventsTex8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,366},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>u_CrossServerWarRewardBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,432},{89,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,33}}</string>
                <key>sourceSize</key>
                <string>{89,33}</string>
            </dict>
            <key>u_CrossServerWarRewardBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,457},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>u_CrossServerWarRewardTex16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,467},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>u_CrossServerWarRewardTex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,131},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>u_CrossServerWarRewardTex32.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,188},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>u_CrossServerWarRewardTex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,97},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>u_CrossServerWarRewardTex8.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,165},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>u_CrossServerWarTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,326},{121,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,28}}</string>
                <key>sourceSize</key>
                <string>{121,28}</string>
            </dict>
            <key>u_CrossServerWarTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,190},{121,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,28}}</string>
                <key>sourceSize</key>
                <string>{121,28}</string>
            </dict>
            <key>u_CrossServerWarTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,469},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>u_CrossServerWarTrophy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{145,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,208}}</string>
                <key>sourceSize</key>
                <string>{145,208}</string>
            </dict>
            <key>u_DevilFruitBg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,429},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>u_DevilFruitBg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,216},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,64}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>u_DevilFruitBg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,131},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>u_EnergyCoreBox01B.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,358},{108,89}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{108,89}}</string>
                <key>sourceSize</key>
                <string>{136,131}</string>
            </dict>
            <key>u_EnergyCoreBox02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,127},{108,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{108,85}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>u_EnergyCoreBox03B.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,34},{111,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{111,89}}</string>
                <key>sourceSize</key>
                <string>{149,131}</string>
            </dict>
            <key>u_EnergyCoreBox04B.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,91},{118,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{118,95}}</string>
                <key>sourceSize</key>
                <string>{146,129}</string>
            </dict>
            <key>u_EnergyCoreBox05B.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,336},{114,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{114,117}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>u_HakiTrialBG02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,34},{190,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,53}}</string>
                <key>sourceSize</key>
                <string>{190,53}</string>
            </dict>
            <key>u_cbbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,215},{127,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,117}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>u_icoqyCSWar.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,367},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyDevilFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,216},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>u_jhjbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,222},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_jhjbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,467},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Adventure04_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cad1f09c6dfe3df0d1afb378392c8fd$</string>
            <key>textureFileName</key>
            <string>Adventure04_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
