<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_AllBlueBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,231},{70,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,129}}</string>
                <key>sourceSize</key>
                <string>{70,129}</string>
            </dict>
            <key>u_AllBlueBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{200,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,34}}</string>
                <key>sourceSize</key>
                <string>{200,34}</string>
            </dict>
            <key>u_AllBlueBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,9}}</string>
                <key>sourceSize</key>
                <string>{268,9}</string>
            </dict>
            <key>u_AllBlueBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>u_AllBlueBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,526},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>u_AllBlueBtn01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,483},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>u_AllBlueIslandsBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{197,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{197,148}}</string>
                <key>sourceSize</key>
                <string>{199,150}</string>
            </dict>
            <key>u_AllBlueIslandsBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{202,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,139}}</string>
                <key>sourceSize</key>
                <string>{202,141}</string>
            </dict>
            <key>u_AllBlueIslandsBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,144},{197,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{197,175}}</string>
                <key>sourceSize</key>
                <string>{199,177}</string>
            </dict>
            <key>u_AllBlueIslandsBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{197,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{197,189}}</string>
                <key>sourceSize</key>
                <string>{199,191}</string>
            </dict>
            <key>u_AllBluePic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,588},{128,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,170}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
            <key>u_AllBluePic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,363},{137,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,160}}</string>
                <key>sourceSize</key>
                <string>{137,160}</string>
            </dict>
            <key>u_AllBluePic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{158,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,170}}</string>
                <key>sourceSize</key>
                <string>{158,170}</string>
            </dict>
            <key>u_AllBluePic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,322},{166,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,158}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>u_AllBluePic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,545},{141,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>u_AllBlue_Guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>u_icoqyAllBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,144},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllBlue.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a51898c9d00b9fe9ed420c70c4b855$</string>
            <key>textureFileName</key>
            <string>AllBlue.png</string>
        </dict>
    </dict>
</plist>
