<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ba01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,188},{78,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>Ba02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,270},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>Ba03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,100},{94,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{94,82}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,4},{102,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{102,90}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,4},{102,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{102,90}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{114,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{114,96}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,114},{122,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,100}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,112},{122,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,100}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,4},{126,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,4},{126,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>Ba13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,218},{112,94}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{112,94}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle7_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0691f69446fa624faaf61840a1d26517$</string>
            <key>textureFileName</key>
            <string>battle7_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
