<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battel_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,3},{167,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,97}}</string>
                <key>sourceSize</key>
                <string>{167,97}</string>
            </dict>
            <key>battel_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,104},{135,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,128}}</string>
                <key>sourceSize</key>
                <string>{135,128}</string>
            </dict>
            <key>battel_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,104},{101,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,148}}</string>
                <key>sourceSize</key>
                <string>{101,148}</string>
            </dict>
            <key>battel_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,231},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
            <key>battel_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,383},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>battel_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,109},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>battel_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,66},{165,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,39}</string>
            </dict>
            <key>battel_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{248,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,59}}</string>
                <key>sourceSize</key>
                <string>{256,59}</string>
            </dict>
            <key>battel_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle6_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8e3b730e46d52fc3e3c08ee171d7b4c$</string>
            <key>textureFileName</key>
            <string>battle6_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
