<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_leiA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,133},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,3},{126,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,267},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,135},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,399},{126,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{126,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle23_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f8fbfaef196f482ded0f84e5f4f318c$</string>
            <key>textureFileName</key>
            <string>battle23_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
