<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_ColosseumAni1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,284},{94,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{94,75}}</string>
                <key>sourceSize</key>
                <string>{112,83}</string>
            </dict>
            <key>BG_ColosseumAni2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,195},{112,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,83}}</string>
                <key>sourceSize</key>
                <string>{112,83}</string>
            </dict>
            <key>BG_ColosseumAni3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,195},{112,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,83}}</string>
                <key>sourceSize</key>
                <string>{112,83}</string>
            </dict>
            <key>BG_ColosseumAni4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{236,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,185}}</string>
                <key>sourceSize</key>
                <string>{236,185}</string>
            </dict>
            <key>BG_ColosseumAni5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,378},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>BG_ColosseumPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,284},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BGAnime_Colosseum.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d19b3f0e11cee128caeccfb20ae147$</string>
            <key>textureFileName</key>
            <string>BGAnime_Colosseum.png</string>
        </dict>
    </dict>
</plist>
