<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_Arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,4},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>u_ChatWindowBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{80,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,209}}</string>
                <key>sourceSize</key>
                <string>{80,209}</string>
            </dict>
            <key>u_EncSystemHelpPic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,4},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>u_EncSystembg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,32},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{34,12}</string>
            </dict>
            <key>u_NewPlayAni.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,219},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>u_buttenselect2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,97},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>u_buttenselect2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,219},{35,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,33}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>u_pgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,219},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pgongp.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,138},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>u_scbanner08.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,187},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scbanner09.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,187},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,97},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene03_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5fa4bd6c67ce2f7ad355035e96abd33$</string>
            <key>textureFileName</key>
            <string>mainScene03_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
