<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EmBattlebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,48},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,113},{3,3}}</string>
                <key>sourceSize</key>
                <string>{161,229}</string>
            </dict>
            <key>u_EncSystemBox01B.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,440},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,263},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,263},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox03B.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,327},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox04B.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,392},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_HullRenovationBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,315},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>u_LianMengBanner01.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,221},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>u_LootNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,305},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>u_TitleAllBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>u_UpgradeCardsTex06.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,210},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>u_UpgradeCardsTex07.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,184},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>u_UpgradeCardsTex08.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,311},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>u_UpgradeCardsTex09.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,438},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>u_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,445},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>u_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_fair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,3},{187,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,60}}</string>
                <key>sourceSize</key>
                <string>{187,60}</string>
            </dict>
            <key>u_frameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,67},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>u_handComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,236},{89,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,65}}</string>
                <key>sourceSize</key>
                <string>{89,65}</string>
            </dict>
            <key>u_icoframe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,159},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icoqy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,96},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jhbuttenElite.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,341},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhjani07.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,466},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>u_jqye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_jqye03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_jqye04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_koujueLVbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,3},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>u_mbuttenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,25},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>u_mhead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,55},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_pqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,409},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,373},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pship.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,375},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>u_pti.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,337},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_ptip.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,466},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>u_pwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,311},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pxuep.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,466},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>u_pyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,438},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>u_pzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,474},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_qiyu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,48},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_scbanner010.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,392},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scbanner06.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,464},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scsui.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,441},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>u_scying.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,258},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>u_sczhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,441},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>u_teambg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{270,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,18}}</string>
                <key>sourceSize</key>
                <string>{270,18}</string>
            </dict>
            <key>u_teambg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,190},{21,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,64}}</string>
                <key>sourceSize</key>
                <string>{21,64}</string>
            </dict>
            <key>u_teambg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,438},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>u_texbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,25},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,26}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>u_topupbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,67},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>u_yibeiyongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,190},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>u_yichuancang.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,398},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>u_yishangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,330},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>u_yizhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,262},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>u_zm06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,190},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{56,256}</string>
            </dict>
            <key>u_zm07.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,236},{66,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,256}}</string>
                <key>sourceSize</key>
                <string>{66,256}</string>
            </dict>
            <key>u_zm09.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,488},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>xin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,450},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene05_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01b321214ac99dcbf0c61f9eb8bf781$</string>
            <key>textureFileName</key>
            <string>mainScene05_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
