<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EquipQuenchLight05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{206,302}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,51},{206,302}}</string>
                <key>sourceSize</key>
                <string>{290,404}</string>
            </dict>
            <key>u_pbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,111},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pbaob.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,309},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pbaop.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,444},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_pdang.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,75},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pdangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,397},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pdangp.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,399},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_pming.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,39},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pmingb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,397},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pmingp.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,354},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_ppo.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,3},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_ppob.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,309},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_ppop.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,309},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene13_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5709ffc558e10df8bd507e226a7f5f11$</string>
            <key>textureFileName</key>
            <string>mainScene13_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
