<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_NoticeBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,410},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>u_NoticeBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,449},{61,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,14}}</string>
                <key>sourceSize</key>
                <string>{61,14}</string>
            </dict>
            <key>u_NoticeBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,449},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>u_NoticeBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,487},{62,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,14}}</string>
                <key>sourceSize</key>
                <string>{62,14}</string>
            </dict>
            <key>u_NoticeBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,3},{13,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,141}}</string>
                <key>sourceSize</key>
                <string>{13,141}</string>
            </dict>
            <key>u_NoticeBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{188,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,105}}</string>
                <key>sourceSize</key>
                <string>{188,105}</string>
            </dict>
            <key>u_NoticeBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,148},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>u_NoticeBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,224},{70,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,182}}</string>
                <key>sourceSize</key>
                <string>{70,182}</string>
            </dict>
            <key>u_NoticeContent01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,112},{174,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,161}}</string>
                <key>sourceSize</key>
                <string>{174,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene20_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f99f129ff314884e8e4e27c6196e6074$</string>
            <key>textureFileName</key>
            <string>mainScene20_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
