<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_++.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,77},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,918},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,77},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>u_+2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,138},{40,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{40,42}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_--.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,918},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_EmBattlebg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,637},{97,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,20}}</string>
                <key>sourceSize</key>
                <string>{97,20}</string>
            </dict>
            <key>u_EmBattlebg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,77},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>u_HullRenovationBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{292,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,370}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>u_HullRenovationBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,888},{124,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,123}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>u_HullRenovationBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,450},{164,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,86}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>u_HullRenovationBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,834},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>u_LootLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,840},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>u_MidAutumnbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,586},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>u_MidAutumnbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1007},{100,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,12}}</string>
                <key>sourceSize</key>
                <string>{100,12}</string>
            </dict>
            <key>u_NewPlaybg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,187},{266,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,221}}</string>
                <key>sourceSize</key>
                <string>{266,221}</string>
            </dict>
            <key>u_SysLeavePageTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,373},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>u_TitleAllBG01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,711},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_bannerEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,337},{232,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,26}}</string>
                <key>sourceSize</key>
                <string>{232,26}</string>
            </dict>
            <key>u_bannerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,428},{220,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,20}}</string>
                <key>sourceSize</key>
                <string>{220,20}</string>
            </dict>
            <key>u_bottoml.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,450},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_bottomr.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,178},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_buttenA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,138},{109,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>u_buttenB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,337},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_buttenF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,929},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>u_buttenFr03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,834},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>u_buttenG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,669},{108,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
            <key>u_buttenH01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,810},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>u_buttenH03.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,826},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>u_buttenHaki03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,826},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenHakiJW01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,760},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,64}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>u_buttenI03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,77},{89,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{93,65}</string>
            </dict>
            <key>u_buttenJ01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,686},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenJ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,612},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenJ03.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,538},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenL03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,280},{234,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,75}}</string>
                <key>sourceSize</key>
                <string>{234,75}</string>
            </dict>
            <key>u_buttenselecta.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,138},{33,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{33,32}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>u_buttenselectb.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,138},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>u_caishendaobg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{496,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,66}}</string>
                <key>sourceSize</key>
                <string>{496,66}</string>
            </dict>
            <key>u_cut01.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,70},{490,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,5}}</string>
                <key>sourceSize</key>
                <string>{490,5}</string>
            </dict>
            <key>u_cut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,357},{215,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,14}}</string>
                <key>sourceSize</key>
                <string>{215,14}</string>
            </dict>
            <key>u_frameF.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,365},{229,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,61}}</string>
                <key>sourceSize</key>
                <string>{229,61}</string>
            </dict>
            <key>u_frameF2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,453},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>u_framebutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,337},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>u_icobg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,905},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icobg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,915},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icobg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,732},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icoempty.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,915},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>u_icoframe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>u_icoqyduanzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,774},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyxuyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,754},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jhbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,183},{320,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,97}}</string>
                <key>sourceSize</key>
                <string>{320,97}</string>
            </dict>
            <key>u_jhbutten.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,659},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhbutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,600},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhbuttenElite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,711},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhbuttenElite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,688},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jhbuttenparticle.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,138},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_jhbuttenparticle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,577},{136,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,132}}</string>
                <key>sourceSize</key>
                <string>{136,132}</string>
            </dict>
            <key>u_jhjani01.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,187},{160,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,91}}</string>
                <key>sourceSize</key>
                <string>{160,91}</string>
            </dict>
            <key>u_koujueEXPb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,542}}</string>
                <key>sourceSize</key>
                <string>{27,542}</string>
            </dict>
            <key>u_koujueLVbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,138},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,187},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>u_mbutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{281,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,134}}</string>
                <key>sourceSize</key>
                <string>{281,134}</string>
            </dict>
            <key>u_mbutten03.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,410},{278,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,133}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>u_mbutten06.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,373},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>u_mheadbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,892},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
            <key>u_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,282},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>u_newplaybrokenbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,539},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_outlineshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,409},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_pfangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,600},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pjianwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,187},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pjianwenb.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,516},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pjianwenp.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,138},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_qh010.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,495},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>u_qh011.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,439},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>u_qh09.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,438},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>u_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,760},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_xzfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,77},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene02_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116ab56d31353b8a8cf0eba9383dafce$</string>
            <key>textureFileName</key>
            <string>mainScene02_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
