<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MarinePageBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,118},{320,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,290}}</string>
                <key>sourceSize</key>
                <string>{320,290}</string>
            </dict>
            <key>u_MarinePageBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,118},{285,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,300}}</string>
                <key>sourceSize</key>
                <string>{285,300}</string>
            </dict>
            <key>u_MarinePageBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3},{360,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,43}}</string>
                <key>sourceSize</key>
                <string>{360,43}</string>
            </dict>
            <key>u_MarinePageBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,325},{197,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,150}}</string>
                <key>sourceSize</key>
                <string>{197,150}</string>
            </dict>
            <key>u_MarinePageBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,50},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>u_MarinePageBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,412},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>u_MarinePageRank01.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,118},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,70}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>u_MarinePageRank02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,387},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,67}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>u_MarinePageRank03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,192},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,70}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>u_MarinePageText01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,422},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>u_MarinePageText01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,422},{110,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,64}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>u_MarinePageText02.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,325},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>u_MarinePageText02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,387},{135,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,57}}</string>
                <key>sourceSize</key>
                <string>{135,57}</string>
            </dict>
            <key>u_MarinePageText03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,479},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>u_MarinePageText04.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,3},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,30}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>u_MarinePageText05.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,448},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>u_MarinePageTextBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,437},{264,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,21}}</string>
                <key>sourceSize</key>
                <string>{264,21}</string>
            </dict>
            <key>u_MarinePageTextBG01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,486},{264,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,20}}</string>
                <key>sourceSize</key>
                <string>{264,20}</string>
            </dict>
            <key>u_MarinePageTextBG01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,491},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>u_MarinePageTextBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,412},{264,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,21}}</string>
                <key>sourceSize</key>
                <string>{264,21}</string>
            </dict>
            <key>u_MarinePageTextBG02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,462},{264,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,20}}</string>
                <key>sourceSize</key>
                <string>{264,20}</string>
            </dict>
            <key>u_MarinePageTextBG02c.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,50},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>u_MarinePageTextBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,50},{313,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,134}}</string>
                <key>sourceSize</key>
                <string>{313,134}</string>
            </dict>
            <key>u_MarinePageTextBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,118},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,34}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>u_MarinePageTextBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,188},{320,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,133}}</string>
                <key>sourceSize</key>
                <string>{320,133}</string>
            </dict>
            <key>u_MarinePalybackBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{511,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,111}}</string>
                <key>sourceSize</key>
                <string>{511,111}</string>
            </dict>
            <key>u_MarinePalybackBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,37},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarineCastle2_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4901bc343583d7587d89d96676717157$</string>
            <key>textureFileName</key>
            <string>MarineCastle2_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
