<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MarineBattleBuff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,548},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,778},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,327},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,327},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff06.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{178,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{178,211}</string>
            </dict>
            <key>u_MarineBattleBuff07.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,540},{218,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,98}}</string>
                <key>sourceSize</key>
                <string>{218,98}</string>
            </dict>
            <key>u_MarineBattleBuffBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,215},{164,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,48}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>u_MarineBattleBuffLan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{107,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,31}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>u_MarineBattleBuffLan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,771},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>u_MarineBattleBuffNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,800},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,36}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>u_MarineBattleBuffNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,479},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,36}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>u_MarineBattleBuffNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,973},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,36}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>u_MarineBattleBuffNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,357},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>u_MarineBattleBuffNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,318},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>u_MarineBattleBuffNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,483},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>u_MarineBattleBuffNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,439},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,38}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>u_MarineBattleBuffNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,671},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>u_MarineBattleBuffNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,761},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,37}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>u_MarineBattleBuffNum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,881},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,37}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>u_MarineBattleCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,288}}</string>
                <key>sourceSize</key>
                <string>{497,288}</string>
            </dict>
            <key>u_MarineBattleContentBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,242},{224,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,83}}</string>
                <key>sourceSize</key>
                <string>{224,83}</string>
            </dict>
            <key>u_MarineBattleEffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,238}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>u_MarineBattleEffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>u_MarineBattleEffect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{250,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,254}}</string>
                <key>sourceSize</key>
                <string>{250,254}</string>
            </dict>
            <key>u_MarineBattleFire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,753},{152,117}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{152,117}}</string>
                <key>sourceSize</key>
                <string>{198,157}</string>
            </dict>
            <key>u_MarineBattleFire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,640},{178,111}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{178,111}}</string>
                <key>sourceSize</key>
                <string>{198,157}</string>
            </dict>
            <key>u_MarineBattleFire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,722},{145,149}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{145,149}}</string>
                <key>sourceSize</key>
                <string>{191,157}</string>
            </dict>
            <key>u_MarineBattleIcoBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,873},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>u_MarineBattleIcoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,872},{119,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,121}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>u_MarineBattleKill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,592},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,38}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>u_MarineBattleKill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,632},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,37}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>u_MarineBattleKill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,265},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>u_MarineBattleKill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,497},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
            <key>u_MarineBattleKillNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,927},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>u_MarineBattleKillNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,927},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>u_MarineBattleKillNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,881},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>u_MarineBattleKillNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,973},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,43}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>u_MarineBattleKillNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,881},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,44}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>u_MarineBattleKillNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,396},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,41}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>u_MarineBattleKillNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,265},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,43}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>u_MarineBattleLVBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,995},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>u_MarineBattleLVBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,995},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>u_MarineBattleLoadLan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,709},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,483},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>u_MarineBattleLoadLan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,771},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,671},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,826},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,826},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,292},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>u_MarineBattleLoadLan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,764},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,537},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>u_MarineBattleLoadLan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,991},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>u_MarineBattleRoundLan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,925},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>u_MarineBattleRoundLan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,943},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>u_MarineBattleRoundLan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,636},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>u_MarineBattleRoundLan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,318},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>u_MarineBattleRoundLan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,640},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>u_MarineBattleRoundNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,753},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>u_MarineBattleRoundNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,537},{71,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,91}</string>
            </dict>
            <key>u_MarineBattleRoundNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,831},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>u_MarineBattleRoundNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,848},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>u_MarineBattleRoundNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,390},{81,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,91}}</string>
                <key>sourceSize</key>
                <string>{81,91}</string>
            </dict>
            <key>u_MarineBattleRoundNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,310},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>u_MarineBattleRoundNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,106},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>u_MarineBattleRoundNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,404},{81,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,91}}</string>
                <key>sourceSize</key>
                <string>{81,91}</string>
            </dict>
            <key>u_MarineBattleRoundNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,540},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>u_MarineBattleRoundNum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,736},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>u_MarineBattleRun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,726},{89,43}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{89,43}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>u_MarineBattleRun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,991},{78,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,31}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>u_MarineBattleWinBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,292},{202,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,245}}</string>
                <key>sourceSize</key>
                <string>{202,245}</string>
            </dict>
            <key>u_MarineBattleWinBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,873},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>u_MarineBattleWinBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,215},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>u_MarineBattleWinBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>u_MarineBattleWinBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,540},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarineCastle3_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3a9115fbddd1e11e70041ef7bd066b$</string>
            <key>textureFileName</key>
            <string>MarineCastle3_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
