<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MemExchangeQNBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,515},{281,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,505}}</string>
                <key>sourceSize</key>
                <string>{281,505}</string>
            </dict>
            <key>u_MemExchangeQNBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{462,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,505}}</string>
                <key>sourceSize</key>
                <string>{462,505}</string>
            </dict>
            <key>u_icoqyMemExchangeQN.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,515},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MemExchangeQN.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6690aded9a5591cd78bb7f4650a35aa2$</string>
            <key>textureFileName</key>
            <string>MemExchangeQN.png</string>
        </dict>
    </dict>
</plist>
