<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_OHaraLibraryBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,25},{16,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,151}}</string>
                <key>sourceSize</key>
                <string>{16,151}</string>
            </dict>
            <key>u_OHaraLibraryExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>u_OHaraLibraryExpBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,300},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>u_OHaraLibraryExpBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,97},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>u_OHaraLibraryNode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{84,75}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,75}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>u_OHaraLibraryNode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,142},{86,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{86,77}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>u_OHaraLibraryNode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,338},{102,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>u_OHaraLibraryNodeText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,217},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,295},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,256},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,25},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,103},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText6.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,64},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>u_OHaraLibraryNodeText7.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,179},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>u_OHaraLibraryProp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{387,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,434}}</string>
                <key>sourceSize</key>
                <string>{387,434}</string>
            </dict>
            <key>u_OHaraLibraryProp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,534},{150,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,143}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>u_OHaraLibraryProp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,534},{145,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,135}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>u_OHaraLibraryProp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,672},{127,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,111}}</string>
                <key>sourceSize</key>
                <string>{127,111}</string>
            </dict>
            <key>u_OHaraLibraryText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,92}}</string>
                <key>sourceSize</key>
                <string>{452,92}</string>
            </dict>
            <key>u_OHaraLibraryTextBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{183,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,38}}</string>
                <key>sourceSize</key>
                <string>{183,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OHaraLibrary.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3667cd06c329a4c54d1b3af5207ddb2d$</string>
            <key>textureFileName</key>
            <string>OHaraLibrary.png</string>
        </dict>
    </dict>
</plist>
