<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_SeaTrainEvent01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>u_SeaTrainEvent02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,250},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>u_SeaTrainEvent03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,172},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>u_SeaTrainEvent04.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,613},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>u_SeaTrainEvent05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,689},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>u_SeaTrainEvent06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,664},{62,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>u_SeaTrainEvent07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,622},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>u_SeaTrainPlatForm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,578},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatForm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,494},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatForm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,536},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatForm04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,492},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatForm05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,450},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatForm06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,406},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,354},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,465},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,398},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,176},{120,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,91}}</string>
                <key>sourceSize</key>
                <string>{120,91}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,369},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,302},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrainPlatFormBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,273},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>u_SeaTrianAnim01.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,4},{217,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,166}}</string>
                <key>sourceSize</key>
                <string>{217,166}</string>
            </dict>
            <key>u_SeaTrianAnim02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,172},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>u_SeaTrianAnimA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,661},{82,30}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{82,30}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>u_SeaTrianAnimA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,630},{86,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{86,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>u_SeaTrianAnimA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,613},{94,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>u_SeaTrianAnimA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,561},{100,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>u_SeaTrianAnimA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,580},{100,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>u_SeaTrianAnimB.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,85},{211,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,81}}</string>
                <key>sourceSize</key>
                <string>{211,81}</string>
            </dict>
            <key>u_SeaTrianAnimC.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{239,75}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,44},{239,75}}</string>
                <key>sourceSize</key>
                <string>{271,131}</string>
            </dict>
            <key>u_SettleWinEffect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,176},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SeaTrian2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3091a40c09250c7a3f63f6893425773$</string>
            <key>textureFileName</key>
            <string>SeaTrian2.png</string>
        </dict>
    </dict>
</plist>
