<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_WeChatShareBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,490},{160,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,322}}</string>
                <key>sourceSize</key>
                <string>{160,322}</string>
            </dict>
            <key>u_WeChatShareBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,818},{224,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,120}}</string>
                <key>sourceSize</key>
                <string>{224,120}</string>
            </dict>
            <key>u_WeChatShareBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,681},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>u_WeChatSharePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{430,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,480}}</string>
                <key>sourceSize</key>
                <string>{430,480}</string>
            </dict>
            <key>u_WeChatShareTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,681},{180,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,95}}</string>
                <key>sourceSize</key>
                <string>{180,95}</string>
            </dict>
            <key>u_WeChatShareTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{323,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,95}}</string>
                <key>sourceSize</key>
                <string>{323,95}</string>
            </dict>
            <key>u_WeChatShareTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,818},{227,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,86}}</string>
                <key>sourceSize</key>
                <string>{227,86}</string>
            </dict>
            <key>u_icoqyWeChatShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,591},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WechatShare.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7363b47d797bb31af9bcebe688962520$</string>
            <key>textureFileName</key>
            <string>WechatShare.png</string>
        </dict>
    </dict>
</plist>
