<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dice_A_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,105},{94,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{94,87}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>Dice_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,103},{113,91}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{113,91}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Dice_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{115,95}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{115,95}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Dice_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,4},{115,93}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{115,93}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Dice_C_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,398},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Dice_C_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,299},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Dice_C_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,396},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Dice_C_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,297},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Dice_C_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,200},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Dice_C_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,198},{85,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{85,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DiceAnime.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ca9356f88ab47cc8dbf6c3592df70b$</string>
            <key>textureFileName</key>
            <string>DiceAnime.png</string>
        </dict>
    </dict>
</plist>
