<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_hai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{738,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,314}}</string>
                <key>sourceSize</key>
                <string>{738,314}</string>
            </dict>
            <key>d_hai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,324},{738,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,298}}</string>
                <key>sourceSize</key>
                <string>{738,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first3_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d556c27037a24c128a1407c3a0e49cbe$</string>
            <key>textureFileName</key>
            <string>first3_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
