<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_NewYearShoppingBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,417},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>u_NienText01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,3},{109,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,125}}</string>
                <key>sourceSize</key>
                <string>{109,125}</string>
            </dict>
            <key>u_NienText02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,360},{104,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,122}}</string>
                <key>sourceSize</key>
                <string>{104,122}</string>
            </dict>
            <key>u_NienText03.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,132},{109,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,117}}</string>
                <key>sourceSize</key>
                <string>{109,117}</string>
            </dict>
            <key>u_NienText04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,245},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>u_PetTeamBannerBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,402},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>u_PetTeamBannerTex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,334},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,22}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>u_PetTeamBannerTex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,374},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>u_PetTeamBannerTex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,374},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>u_PetTeamBannerTex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,334},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>u_bottoml2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,349},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_bottomr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,245},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_framebg01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,125},{640,116}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{640,116}}</string>
                <key>sourceSize</key>
                <string>{640,144}</string>
            </dict>
            <key>u_mainScene18183.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,302},{120,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,47}}</string>
                <key>sourceSize</key>
                <string>{120,47}</string>
            </dict>
            <key>u_mainSceneBannerBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{640,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,118}}</string>
                <key>sourceSize</key>
                <string>{640,118}</string>
            </dict>
            <key>u_mainSceneBtn0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,248},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>u_mainSceneBtn0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,302},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>u_mainSceneBtn0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,346},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>u_mainSceneBtn0_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,353},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>u_mainSceneBtn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,446},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>u_mainSceneBtn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,207},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>u_mainSceneBtn1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,466},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>u_mainSceneBtn1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,346},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>u_mainSceneBtn1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,480},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>u_mainSceneBtn2Ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,461},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{56,44}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>u_mainSceneBtn2Ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,184},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{82,60}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>u_mainSceneBtn2Ani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,417},{130,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{130,72}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>u_mainSceneBtn2Ani4.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,253},{122,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,96}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>u_mainSceneBtn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,3},{45,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>u_mainSceneBtn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,453},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,417},{26,52}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,342},{48,56}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{48,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,184},{64,40}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{64,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,89},{42,58}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,210},{52,64}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{52,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,353},{60,64}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,278},{52,60}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3Ani_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,360},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>u_mainSceneBtn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,435},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>u_mainSceneBtn3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,439},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>u_mainSceneBtn4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,473},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>u_mainSceneBtn4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,402},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>u_mainSceneBtn4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,98},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>u_mainSceneBtn4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,439},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>u_mainSceneBtn4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,334},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>u_mainSceneBtn4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,486},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>u_mainSceneBtn5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,3},{78,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{78,91}</string>
            </dict>
            <key>u_mainSceneBtn5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,496},{51,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,13}}</string>
                <key>sourceSize</key>
                <string>{51,13}</string>
            </dict>
            <key>u_mainSceneBtn5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,486},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>u_mainSceneBtn5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,417},{2,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{2,30}</string>
            </dict>
            <key>u_mainSceneBtn6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,302},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>u_mainSceneBtn6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,3},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>u_mainSceneBtn6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,151},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>u_mainSceneBtn7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,117},{105,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>u_mainSceneBtn7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,400},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>u_mainSceneBtn7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,483},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>u_mainSceneBtnBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,245},{130,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,111}}</string>
                <key>sourceSize</key>
                <string>{130,111}</string>
            </dict>
            <key>u_mainSceneBtnBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,293},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_mainSceneBubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,241},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>u_mainSceneExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,483},{75,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,9}}</string>
                <key>sourceSize</key>
                <string>{75,9}</string>
            </dict>
            <key>u_mainSceneHorn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,302},{71,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,47}}</string>
                <key>sourceSize</key>
                <string>{71,47}</string>
            </dict>
            <key>u_mainSceneIcohelper.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,435},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>u_mainSceneIcohelper02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,179},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>u_mainSceneIcohelperB.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,228},{60,61}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{60,61}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>u_mainSceneLVNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,453},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,446},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{17,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,178},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,303},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,245},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,274},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,432},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,482},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,403},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_mainSceneLVNum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,374},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>u_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,360},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>u_new1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,245},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene15_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18b2d44a6bb86674cb0f125c46fd4444$</string>
            <key>textureFileName</key>
            <string>mainScene15_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
