<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CareerBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,691},{619,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,173}}</string>
                <key>sourceSize</key>
                <string>{619,173}</string>
            </dict>
            <key>u_CareerLongButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1791},{607,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,89}}</string>
                <key>sourceSize</key>
                <string>{607,89}</string>
            </dict>
            <key>u_EmBattlebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,411},{161,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,229}}</string>
                <key>sourceSize</key>
                <string>{161,229}</string>
            </dict>
            <key>u_EncSystemHelpPic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1480},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>u_EncSystembg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1982},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_HullRenovationBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,676},{256,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,75}}</string>
                <key>sourceSize</key>
                <string>{256,75}</string>
            </dict>
            <key>u_HullRenovationBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1563},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>u_LianMengNum01.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1789},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>u_LootWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1552},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>u_NewPlaybg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,755},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>u_RunSmoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1975},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>u_RunSmoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1444},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>u_SysLeavePageTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1869},{106,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,49}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>u_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1360},{640,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,143}}</string>
                <key>sourceSize</key>
                <string>{640,143}</string>
            </dict>
            <key>u_bannerb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1507},{640,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,136}</string>
            </dict>
            <key>u_buttenK01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,396},{292,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,75}}</string>
                <key>sourceSize</key>
                <string>{292,75}</string>
            </dict>
            <key>u_buttenselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,868},{627,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_contenA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1196},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_contenA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1032},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_fairBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,304},{320,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,88}}</string>
                <key>sourceSize</key>
                <string>{320,88}</string>
            </dict>
            <key>u_frameD.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1784},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>u_framebutten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1161},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>u_framebutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1541},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>u_framebutten02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1201},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>u_framebutten05.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1922},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>u_framebutten06.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1379},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>u_framebutten07.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1759},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>u_framebutten08.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1646},{91,96}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>u_helpereffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1645},{77,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>u_icobg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,121},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{150,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>u_icoframe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,475},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>u_jhbuttenEliteparticle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,275},{136,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,132}}</string>
                <key>sourceSize</key>
                <string>{136,132}</string>
            </dict>
            <key>u_jhcontent02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{540,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,481}}</string>
                <key>sourceSize</key>
                <string>{540,481}</string>
            </dict>
            <key>u_jhjani02.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1647},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>u_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1458},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>u_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1892},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>u_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,955},{106,78}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{106,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>u_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,644},{114,88}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{114,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>u_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1087},{141,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,110}}</string>
                <key>sourceSize</key>
                <string>{141,110}</string>
            </dict>
            <key>u_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,3},{154,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,114}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>u_ljcontenb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1647},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_mbutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,755},{183,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,79}}</string>
                <key>sourceSize</key>
                <string>{183,79}</string>
            </dict>
            <key>u_mbutten05.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1982},{215,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,59}}</string>
                <key>sourceSize</key>
                <string>{215,59}</string>
            </dict>
            <key>u_mbutten07.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,875},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>u_mbutten08.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,838},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>u_mhead08.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,982},{12,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,200}}</string>
                <key>sourceSize</key>
                <string>{12,200}</string>
            </dict>
            <key>u_outlinelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,955},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_packageconten.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,488},{640,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,199}}</string>
                <key>sourceSize</key>
                <string>{640,199}</string>
            </dict>
            <key>u_peb.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,824},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pyib.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,736},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_qh00.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1328},{97,126}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{97,126}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>u_qh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1647},{116,133}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{116,133}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>u_qh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1328},{105,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{105,112}}</string>
                <key>sourceSize</key>
                <string>{115,126}</string>
            </dict>
            <key>u_qh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1264},{103,111}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{103,111}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>u_qh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1037},{93,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{93,120}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>u_qh05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1759},{54,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,102}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>u_qh07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,982},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>u_qh08.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1242},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>u_qiyubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1884},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>u_scyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1915},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>u_stonebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,3},{316,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,297}}</string>
                <key>sourceSize</key>
                <string>{316,297}</string>
            </dict>
            <key>u_texbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1478},{108,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>u_topupbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1884},{278,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,141}}</string>
                <key>sourceSize</key>
                <string>{278,141}</string>
            </dict>
            <key>u_xzbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1549},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>u_zm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1721},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>u_zm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1922},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>u_zm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1032},{63,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,256}}</string>
                <key>sourceSize</key>
                <string>{63,256}</string>
            </dict>
            <key>u_zm04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1292},{57,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,256}}</string>
                <key>sourceSize</key>
                <string>{57,256}</string>
            </dict>
            <key>u_zm05.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,982},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
            <key>u_zm08.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1746},{47,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,142}}</string>
                <key>sourceSize</key>
                <string>{47,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene11_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48b10327de0e03d98970edcabbc0dfe7$</string>
            <key>textureFileName</key>
            <string>mainScene11_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
