<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MarineCaSpray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,209},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>u_MarineCaSpray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,370},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>u_MarineCaSpray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,370},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>u_MarineCaSpray4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,131},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>u_MarineCastleAni01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,281},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>u_MarineCastleBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,385},{207,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,84}}</string>
                <key>sourceSize</key>
                <string>{207,84}</string>
            </dict>
            <key>u_MarineCastleBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,131},{252,247}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{252,247}}</string>
                <key>sourceSize</key>
                <string>{254,247}</string>
            </dict>
            <key>u_MarineCastleBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,382},{183,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,110}}</string>
                <key>sourceSize</key>
                <string>{183,110}</string>
            </dict>
            <key>u_MarineCastleBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,719},{102,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,246}}</string>
                <key>sourceSize</key>
                <string>{102,248}</string>
            </dict>
            <key>u_MarineCastleBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,625},{112,232}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,232}}</string>
                <key>sourceSize</key>
                <string>{112,236}</string>
            </dict>
            <key>u_MarineCastleBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,233},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_MarineCastleBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,326},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>u_MarineCastleButten.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,597},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>u_MarineCastleButten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,191},{191,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,187}}</string>
                <key>sourceSize</key>
                <string>{191,187}</string>
            </dict>
            <key>u_MarineCastleCloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,719},{109,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,163}}</string>
                <key>sourceSize</key>
                <string>{109,165}</string>
            </dict>
            <key>u_MarineCastleCloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,949},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,61}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>u_MarineCastlePic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,131},{49,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>u_MarineCastlePic01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,473},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>u_MarineCastlePicBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,473},{174,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,173}}</string>
                <key>sourceSize</key>
                <string>{174,173}</string>
            </dict>
            <key>u_MarineCastleShip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{175,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,184}}</string>
                <key>sourceSize</key>
                <string>{177,184}</string>
            </dict>
            <key>u_MarineCastleShip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,496},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>u_MarineCastleShip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,393},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>u_MarineCastleShip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,491},{87,102}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,102}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>u_MarineCastleSurf.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,124}}</string>
                <key>sourceSize</key>
                <string>{320,124}</string>
            </dict>
            <key>u_icoqyMarineCastle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,861},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarineCastle1_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b308f5d8364f50adf02f67efd70ec88$</string>
            <key>textureFileName</key>
            <string>MarineCastle1_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
