<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_SeaTrianBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,627},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>u_SeaTrianBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,689},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>u_SeaTrianBtn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,650},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>u_SeaTrianBtn03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,210},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>u_SeaTrianBtn03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,178},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>u_SeaTrianBtn04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,94},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>u_SeaTrianContent01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,439},{213,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,153}}</string>
                <key>sourceSize</key>
                <string>{213,153}</string>
            </dict>
            <key>u_SeaTrianContent02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,423},{213,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,221}}</string>
                <key>sourceSize</key>
                <string>{213,221}</string>
            </dict>
            <key>u_SeaTrianContent03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{291,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,122}}</string>
                <key>sourceSize</key>
                <string>{291,122}</string>
            </dict>
            <key>u_SeaTrianContent04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,726},{107,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,264}}</string>
                <key>sourceSize</key>
                <string>{107,264}</string>
            </dict>
            <key>u_SeaTrianContent05.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,726},{123,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,238}}</string>
                <key>sourceSize</key>
                <string>{123,238}</string>
            </dict>
            <key>u_SeaTrianLight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,132},{239,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,200}}</string>
                <key>sourceSize</key>
                <string>{239,200}</string>
            </dict>
            <key>u_SeaTrianLight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,149},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>u_SeaTrianPage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,338},{228,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,95}}</string>
                <key>sourceSize</key>
                <string>{228,95}</string>
            </dict>
            <key>u_SeaTrianPage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,299},{230,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,118}}</string>
                <key>sourceSize</key>
                <string>{230,118}</string>
            </dict>
            <key>u_SeaTrianPage02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,237},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>u_SeaTrianPage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,598},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>u_SeaTrianPage03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,121},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>u_SeaTrianPage04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,598},{76,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,23}}</string>
                <key>sourceSize</key>
                <string>{76,23}</string>
            </dict>
            <key>u_SeaTrianPage05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,970},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>u_SeaTrianPage06.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,970},{71,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,46}}</string>
                <key>sourceSize</key>
                <string>{71,46}</string>
            </dict>
            <key>u_SeaTrianPage07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,650},{113,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,33}}</string>
                <key>sourceSize</key>
                <string>{113,33}</string>
            </dict>
            <key>u_SeaTrianPage08.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,4},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>u_SeaTrianPage09.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,132},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>u_SeaTrianPage10.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,49},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>u_SeaTrianPage11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,4},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SeaTrian.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b896bcfe31f27b7cdcb9a398bee7dbad$</string>
            <key>textureFileName</key>
            <string>SeaTrian.png</string>
        </dict>
    </dict>
</plist>
