<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ShadowBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,91},{320,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,333}}</string>
                <key>sourceSize</key>
                <string>{320,333}</string>
            </dict>
            <key>u_ShadowBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,4},{470,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,457}}</string>
                <key>sourceSize</key>
                <string>{470,457}</string>
            </dict>
            <key>u_ShadowBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{540,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,81}}</string>
                <key>sourceSize</key>
                <string>{540,81}</string>
            </dict>
            <key>u_ShadowButten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,409},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>u_ShadowButten1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,339},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>u_ShadowButten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,430},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,59}}</string>
                <key>sourceSize</key>
                <string>{136,61}</string>
            </dict>
            <key>u_ShadowButten2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,430},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,59}}</string>
                <key>sourceSize</key>
                <string>{136,61}</string>
            </dict>
            <key>u_ShadowButten3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,215},{119,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,118}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>u_ShadowButten4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,91},{119,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,118}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>u_icoqyu_ShadowIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,91},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShadowInheritance.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f276ccb75656014f417113e06345fed$</string>
            <key>textureFileName</key>
            <string>ShadowInheritance.png</string>
        </dict>
    </dict>
</plist>
