<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_zhanjiB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,117},{22,6}}</string>
                <key>offset</key>
                <string>{-107,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,97},{22,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,63},{100,18}}</string>
                <key>offset</key>
                <string>{-68,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,89},{100,18}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,91},{178,22}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,87},{178,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{238,26}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,84},{238,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,33},{172,26}}</string>
                <key>offset</key>
                <string>{28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{172,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,63},{116,24}}</string>
                <key>offset</key>
                <string>{57,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{116,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,33},{58,18}}</string>
                <key>offset</key>
                <string>{86,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,89},{58,18}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle16_a_8888_8_p8.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:639c9ed66b2d418770d8c302c4377ce8$</string>
            <key>textureFileName</key>
            <string>battle16_a_8888_8_p8.png</string>
        </dict>
    </dict>
</plist>
