<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_caishendaobg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,94},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>u_caishendaobg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,735},{600,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,90}}</string>
                <key>sourceSize</key>
                <string>{600,90}</string>
            </dict>
            <key>u_caishendaobg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,358},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
            <key>u_caishendaobg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,406},{672,323}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{672,323}}</string>
                <key>sourceSize</key>
                <string>{672,327}</string>
            </dict>
            <key>u_caishendaobutten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,840},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>u_caishendaobutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,742},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>u_caishendaoheading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,4},{315,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,151}}</string>
                <key>sourceSize</key>
                <string>{315,151}</string>
            </dict>
            <key>u_caishendaowz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,608},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>u_caishendaowz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,640},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>u_flEXP01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,735},{46,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,283}}</string>
                <key>sourceSize</key>
                <string>{46,283}</string>
            </dict>
            <key>u_flEXP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,358},{25,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,244}}</string>
                <key>sourceSize</key>
                <string>{25,244}</string>
            </dict>
            <key>u_flbaoxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{545,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,396}}</string>
                <key>sourceSize</key>
                <string>{545,396}</string>
            </dict>
            <key>u_flbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,306},{462,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,46}}</string>
                <key>sourceSize</key>
                <string>{462,46}</string>
            </dict>
            <key>u_flheading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,161},{458,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,139}}</string>
                <key>sourceSize</key>
                <string>{458,139}</string>
            </dict>
            <key>u_fllight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,358},{160,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,378}}</string>
                <key>sourceSize</key>
                <string>{160,378}</string>
            </dict>
            <key>u_icoqy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>csd&amp;fl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f726c8aecdd67c422d0d4537be07b3$</string>
            <key>textureFileName</key>
            <string>csd&amp;fl.png</string>
        </dict>
    </dict>
</plist>
