<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MonthCardSuperBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,284}}</string>
                <key>sourceSize</key>
                <string>{500,284}</string>
            </dict>
            <key>u_MonthCardSuperBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{500,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,229}}</string>
                <key>sourceSize</key>
                <string>{500,229}</string>
            </dict>
            <key>u_MonthCardSuperBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{222,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,115}}</string>
                <key>sourceSize</key>
                <string>{222,115}</string>
            </dict>
            <key>u_MonthCardSuperBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,628},{222,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,115}}</string>
                <key>sourceSize</key>
                <string>{222,115}</string>
            </dict>
            <key>u_MonthCardSuperBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,573},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>u_MonthCardSuperBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{245,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,110}}</string>
                <key>sourceSize</key>
                <string>{245,110}</string>
            </dict>
            <key>u_MonthCardSuperTex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{305,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{305,49}}</string>
                <key>sourceSize</key>
                <string>{369,57}</string>
            </dict>
            <key>u_icoqyMonthCardSuper.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,521},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonthCardSuper.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204686a50e4ec256820e01125c7ee372$</string>
            <key>textureFileName</key>
            <string>MonthCardSuper.png</string>
        </dict>
    </dict>
</plist>
