<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetEvolutionAniBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,3},{300,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,59}}</string>
                <key>sourceSize</key>
                <string>{300,59}</string>
            </dict>
            <key>PetEvolutionAniBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,66},{300,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,58}}</string>
                <key>sourceSize</key>
                <string>{300,58}</string>
            </dict>
            <key>PetEvolutionAniBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,3},{63,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{63,104}</string>
            </dict>
            <key>PetEvolutionAniBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,773},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>PetEvolutionAniBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,128},{299,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,58}}</string>
                <key>sourceSize</key>
                <string>{299,58}</string>
            </dict>
            <key>PetEvolutionAniBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,190},{106,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{106,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>PetEvolutionAniBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,666},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>PetEvolutionAniBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,111},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetEvolutionAniBG09.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,666},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_PetShopAnimBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,141},{290,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,226}}</string>
                <key>sourceSize</key>
                <string>{290,226}</string>
            </dict>
            <key>u_PetShopAnimBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,3},{224,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,134}}</string>
                <key>sourceSize</key>
                <string>{224,134}</string>
            </dict>
            <key>u_PetShopAnimBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,487},{263,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,258}}</string>
                <key>sourceSize</key>
                <string>{263,258}</string>
            </dict>
            <key>u_PetShopAnimBG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>u_PetShopAnimBG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,487},{282,282}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{282,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>u_PetShopAnimBG6.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,700},{193,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,40}}</string>
                <key>sourceSize</key>
                <string>{193,40}</string>
            </dict>
            <key>u_PetShopEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,3},{68,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{68,95}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,773},{98,239}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{98,239}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,190},{168,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,249}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,447},{168,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,249}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,749},{168,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,249}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,443},{168,219}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,219}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,773},{168,245}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,245}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetShopEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,246},{168,189}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{168,189}}</string>
                <key>sourceSize</key>
                <string>{168,249}</string>
            </dict>
            <key>u_PetTeamBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,371},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetMainScene2_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4da43a4e676c7032b80fbde08434d0b$</string>
            <key>textureFileName</key>
            <string>PetMainScene2_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
