<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_blooda01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,288},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>b_blooda02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,266},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>b_bloodb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,288},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>b_bloodb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>b_flashadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,131},{230,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,129}}</string>
                <key>sourceSize</key>
                <string>{230,129}</string>
            </dict>
            <key>b_losebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,345},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>b_winbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>battle04_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,4},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{300,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,121}}</string>
                <key>sourceSize</key>
                <string>{300,121}</string>
            </dict>
            <key>leftP.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,339},{117,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{117,135}</string>
            </dict>
            <key>leftP_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,480},{114,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,163}}</string>
                <key>sourceSize</key>
                <string>{114,163}</string>
            </dict>
            <key>r3_Bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,705},{128,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>r3_spark01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,235},{50,98}}</string>
                <key>offset</key>
                <string>{3,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,358},{50,98}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,649},{78,352}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,90},{78,352}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,591},{70,384}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{70,384}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark06.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,345},{16,192}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{16,192}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark07.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,131},{50,98}}</string>
                <key>offset</key>
                <string>{3,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,358},{50,98}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,629},{78,352}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,90},{78,352}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,629},{70,384}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{70,384}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark12.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,345},{16,192}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{16,192}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_win_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,203},{199,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,136}}</string>
                <key>sourceSize</key>
                <string>{199,136}</string>
            </dict>
            <key>r3_win_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,591},{136,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,108}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>rightP.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,512},{144,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{144,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle1_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acca45d949c72aa16e7c9f1412c1c118$</string>
            <key>textureFileName</key>
            <string>battle1_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
