<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EncSystemHelpPic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,53},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>u_banner01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,97},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>u_bannerYike.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,53},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>u_buttenE01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>u_duanzaoLock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,272},{43,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{43,61}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>u_jhEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,141},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>u_koujueEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,225},{47,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,275}}</string>
                <key>sourceSize</key>
                <string>{47,275}</string>
            </dict>
            <key>u_pfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,136},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pfangp.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,225},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_scbanner07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene01_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48490424658d400d93e4cd75510d9c30$</string>
            <key>textureFileName</key>
            <string>mainScene01_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
