<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_+3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,103},{52,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{52,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_EncSystemBox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,148},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,102},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox04.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,56},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemHelpPic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,411},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>u_EncSystemHelpPic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,331},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>u_NewPlayTeamPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,103},{164,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,26}}</string>
                <key>sourceSize</key>
                <string>{164,26}</string>
            </dict>
            <key>u_TitleAllNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,131},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>u_bannerHakidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,222},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>u_contenC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{630,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,163}}</string>
                <key>sourceSize</key>
                <string>{630,163}</string>
            </dict>
            <key>u_contenC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{634,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,168}}</string>
                <key>sourceSize</key>
                <string>{634,168}</string>
            </dict>
            <key>u_contenC03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,170}}</string>
                <key>sourceSize</key>
                <string>{640,170}</string>
            </dict>
            <key>u_fairBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,131},{140,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,39}}</string>
                <key>sourceSize</key>
                <string>{140,39}</string>
            </dict>
            <key>u_flbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,264},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>u_frameC.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,172},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_frameG.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,231},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>u_frameH.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,312},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_icohelper.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,161},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>u_icoqy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,411},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jhbuttenEliteRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,344},{80,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,137}}</string>
                <key>sourceSize</key>
                <string>{80,137}</string>
            </dict>
            <key>u_scbanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>u_scbanner04.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,146},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>u_scbanner05.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,288},{110,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>u_stonebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,189},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_topupTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{270,52}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{270,52}}</string>
                <key>sourceSize</key>
                <string>{470,230}</string>
            </dict>
            <key>u_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,264},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>u_vip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,194},{54,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,359},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,331},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,442},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,414},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip06.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,386},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip07.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,358},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip08.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,330},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip09.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,302},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,302},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,408},{66,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,483},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,483},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_viptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,56},{218,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,45}}</string>
                <key>sourceSize</key>
                <string>{218,45}</string>
            </dict>
            <key>u_xzyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,44},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene08_a_8888_32_blz.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b85e10468e80af0aab7006718dea60e9$</string>
            <key>textureFileName</key>
            <string>mainScene08_a_8888_32_blz.png</string>
        </dict>
    </dict>
</plist>
