<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_NewYearShoppingBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{185,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,335}}</string>
                <key>sourceSize</key>
                <string>{185,335}</string>
            </dict>
            <key>u_NewYearShoppingBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,4},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>u_NewYearShoppingBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,187},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>u_NewYearShoppingBtn02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,128},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>u_NewYearShoppingContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,345},{299,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,154}}</string>
                <key>sourceSize</key>
                <string>{299,154}</string>
            </dict>
            <key>u_icoqyNewYearShopping.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewYearShopping.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:718479c2b0ec9176b31c10291d83e810$</string>
            <key>textureFileName</key>
            <string>NewYearShopping.png</string>
        </dict>
    </dict>
</plist>
