<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_PeronaTurntableBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,3},{168,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,341}}</string>
                <key>sourceSize</key>
                <string>{168,341}</string>
            </dict>
            <key>u_PeronaTurntableBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,163},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>u_PeronaTurntableBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,3},{115,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,156}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>u_PeronaTurntableBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{203,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,319}}</string>
                <key>sourceSize</key>
                <string>{203,319}</string>
            </dict>
            <key>u_PeronaTurntableBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,326},{146,175}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{146,175}}</string>
                <key>sourceSize</key>
                <string>{156,187}</string>
            </dict>
            <key>u_PeronaTurntableBGText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,379},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_PeronaTurntableBGText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,293},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>u_PeronaTurntableBGText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,412},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_PeronaTurntableBGText4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,412},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>u_PeronaTurntableBGTlak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,466},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>u_PeronaTurntableBGTlak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,293},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>u_PeronaTurntableBtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,412},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>u_PeronaTurntableCombo.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,348},{263,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,60}}</string>
                <key>sourceSize</key>
                <string>{263,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PeronaTurntable1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18bbc5ccc1d019e912acb5d57c4bd3ed$</string>
            <key>textureFileName</key>
            <string>PeronaTurntable1.png</string>
        </dict>
    </dict>
</plist>
