<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_ReplaceSkillBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,151},{185,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,331}}</string>
                <key>sourceSize</key>
                <string>{185,331}</string>
            </dict>
            <key>u_ReplaceSkillBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,476},{157,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,28}}</string>
                <key>sourceSize</key>
                <string>{157,28}</string>
            </dict>
            <key>u_ReplaceSkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,234},{199,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,77}}</string>
                <key>sourceSize</key>
                <string>{199,77}</string>
            </dict>
            <key>u_ReplaceSkillButtonB.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,151},{199,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,77}}</string>
                <key>sourceSize</key>
                <string>{199,77}</string>
            </dict>
            <key>u_ReplaceSkillIcobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,317},{163,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,153}}</string>
                <key>sourceSize</key>
                <string>{163,153}</string>
            </dict>
            <key>u_ReplaceSkillTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{343,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,141}}</string>
                <key>sourceSize</key>
                <string>{343,141}</string>
            </dict>
            <key>u_icoqyReplaceSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ReplaceSkill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1898703f535f90eb038b95bec01b3d60$</string>
            <key>textureFileName</key>
            <string>ReplaceSkill.png</string>
        </dict>
    </dict>
</plist>
