<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_LootContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,94},{640,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,146}}</string>
                <key>sourceSize</key>
                <string>{640,146}</string>
            </dict>
            <key>u_MidAutumnbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,4},{142,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>u_MidAutumnbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,94},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>u_MidAutumnbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,69},{87,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,111}}</string>
                <key>sourceSize</key>
                <string>{87,111}</string>
            </dict>
            <key>u_ShadowImprintBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{205,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,59}}</string>
                <key>sourceSize</key>
                <string>{205,59}</string>
            </dict>
            <key>u_icoqyJDPH.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,69},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyLVPH.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyLostTreasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAqianggou.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAxiangou.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyShadowImprint.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyVIPFL.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zqhdmb.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6014533f10387e28c6ef3ab9f860510$</string>
            <key>textureFileName</key>
            <string>zqhdmb.png</string>
        </dict>
    </dict>
</plist>
